<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Quadratic Easing Function</title>
    <%= stylesheets('3dcg', 'box2') %>
    <%= scripts('jquery', 'jquery-ui', 'underscore', 'ace/ace', 'source-editor') %>
    <style>
      img.large {
        width: 60%;
      }

      video {
        margin: 10px auto;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      Quadratic Easing Function
    </header>
    <div id="contents">
      <%= overview(prerequisites: ['animations/easing-library'], mutually_exclusive_with: ['animations/cubic', 'animations/quintic'], reading_material: ['math/animations', 'design/animations/basics', 'math/easing-functions']) %>
      <section>
        <h1>Preview</h1>
        <%= raytrace_movie 'demo' %>
        <%= source 'demo.chai' %>
      </section>
      <section>
        <h1>Implementation</h1>
        <aside class="boxed2">
          <p>
            Create files <code>math/functions/easing/quadratic-function.cpp/.h</code> and implement
            <code>quadratic_in</code>, <code>quadratic_out</code> and <code>quadratic_inout</code>.
            Use <code>linear-easing-function.h/.cpp</code> as a guide. You'll need to find the formulae yourself. 
          </p>
          <p>
            Don't forget to add a binding for the scripting language. In <code>scripting/math-module</code>, update the <code>EasingLibrary</code> structure and add an extra <code>BIND</code> to <code>add_easing</code>.
          </p>
        </aside>
      </section>
    </div>
  </body>

  <script>
    function initialize()
    {
      SourceEditor.initialize();
    }

    $( initialize );   
  </script>
</html>
