<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Bounding Box Accelerator</title>
    <%= stylesheets('3dcg', 'box2') %>
    <%= scripts('jquery', 'jquery-ui', 'underscore', 'ace/ace', 'source-editor') %>
    <style>
      img.large {
        width: 60%;
      }

      table.centered {
        margin-left: auto;
        margin-right: auto;
      }

      table.tabular {
        border-collapse; collapse;
      }

      table.tabular tr:first-child {
        background: #AAA;
      }

      table.tabular th {
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
      }

      table.tabular td {
        text-align: center;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      Bounding Box Accelerator
    </header>
    <div id="contents">
      <section>
        <h1>Explanation</h1>
        <p>
          There are different kinds of primitives. The most basic primitives are those modelling shapes,
          such as ``Sphere``, ``Triangle`` and the plane primitives.
          A more abstract kind of primitives model operations on primitives: ``Decorator``s
          assign materials to other primitives while ``Transformer``s can be used
          to move primitives around in space. The ``BoundingBoxAccelerator`` primitive
          is even more abstract: it changes absolutely nothing about the scene.
          If it does, there's a bug.
        </p>
        <p>
          The ``BoundingBoxAccelerator``'s only purpose in life is to <span style="text-decoration: line-through">pass the butter</span>
          speed up rendering. Say you have a scene containing a complex object built out of
          thousands or millions of triangles (i.e. a <em>mesh</em>):
        </p>
        <%= raytrace 'mesh' %>
        <p>
          Each time a ray is cast (e.g. from the camera, for shadowing purposes, reflection or refraction),
          we need to check whether this ray intersects any of these triangles. Rendering would take an inexcusably
          long time if we were to do nothing about it.
        </p>
        <p>
          The solution is to surround the mesh by a box. This box needs to be as small as possible,
          but still contain the entire mesh. When we need to determine whether a ray intersects the mesh,
          we first check if it intersects the box. If the ray misses the box, we know it will
          also miss the mesh, thereby sparing us the need to iterate over all triangles in search of hits.
        </p>
        <%= raytrace 'bounding-box' %>
        <p>
          By building a <%= link 'reference/primitives/mesh/optimization', 'hierarchy' %>,
          you can even speed up rendering more.
        </p>
      </section>
    </div>
  </body>

  <script>
    function initialize()
    {
      SourceEditor.initialize();
    }

    $( initialize );   
  </script>
</html>
