<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Stratified Sampler</title>
    <%= stylesheets('3dcg', 'box2', 'imgslider') %>
    <%= scripts('jquery', 'jquery-ui', 'underscore', 'ace/ace', 'source-editor', 'imgslider') %>
    <style>
      .centered {
        margin: 10px auto;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      Stratified Sampler
    </header>
    <div id="contents">
      <section>
        <h1>Definition</h1>
        <p>
          A stratified sampler takes two parameter $N$ and $M$. Given a rectangle to be sampled,
          it subdivides this rectangle into $N \times M$ subrectangles of equal size.
          The sampler then returns the center point of each of these rectangles.
        </p>
        <%= tex_image 'sampler' %>
      </section>
      <section>
        <h1>Comparison</h1>
        <section>
          <h2>n = 1</h2>
          <%= raytrace_comparison 'single', 'demo1' %>
        </section>
        <section>
          <h2>n = 2</h2>
          <%= raytrace_comparison 'single', 'demo2' %>
        </section>
        <section>
          <h2>n = 3</h2>
          <%= raytrace_comparison 'single', 'demo3' %>
        </section>
        <section>
          <h2>n = 4</h2>
          <%= raytrace_comparison 'single', 'demo4' %>
        </section>
      </section>
    </div>
  </body>

  <script>
    function initialize()
    {
      SourceEditor.initialize();
      $('.slider').slider( { showInstruction: false } );
    }

    $( initialize );   
  </script>
</html>
