<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Checkered3D Pattern</title>
    <%= stylesheets('3dcg', 'box2') %>
    <%= scripts('jquery', 'jquery-ui', 'underscore', 'ace/ace', 'source-editor') %>
    <style>
      img.large {
        width: 60%;
      }

      video {
        margin: 10px auto;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      Checkered3D Pattern
    </header>
    <div id="contents">
      <%= overview(mutually_exclusive_with: ['materials/pattern3d/grid3d'],
                   reading_material: ['materials/2d-vs-3d']) %>
      <section>
        <h1>Preview</h1>
        <%= raytrace 'demo' %>
        <%= source 'demo.chai' %>
      </section>      
      <section>
        <h1>Implementation</h1>
        <aside class="boxed2">
          <h1>Task</h1>
          <p>
            The basic ray tracer already has support for horizontal lines.
            Use this to implement the checkered3d pattern. Do not forget to add bindings for the scripting language.
          </p>
        </aside>
      </section>
    </div>
  </body>

  <script>
    function initialize()
    {
      SourceEditor.initialize();
    }

    $( initialize );   
  </script>
</html>
