<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Conversions Between Coordinate Systems</title>
    <%= stylesheets('3dcg', 'box2') %>
    <%= scripts('jquery', 'underscore') %>
    <style>
      img.large {
        width: 60%;
      }

      table.centered {
        margin-left: auto;
        margin-right: auto;
      }

      table.tabular {
        border-collapse; collapse;
      }

      table.tabular tr:first-child {
        background: #AAA;
      }

      table.tabular th {
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
      }

      table.tabular td {
        text-align: center;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      Conversions Between Coordinate Systems
    </header>
    <div id="contents">
      <section>
        <h1>Conversions</h1>
        <p>
          You can convert from one coordinate system to another using the formulae below.
        </p>

        <section>
          <h2>From 2D Cartesian to Polar</h2>
          <p>
          \[
            \begin{array}{rcl}
              r & = & \sqrt{x^2 + y^2} \\
              \theta & = & \mathrm{atan2}(y, x) \\
            \end{array}
          \]
          where <a href="http://en.cppreference.com/w/cpp/numeric/math/atan2">atan2</a>
          is an arc tangent function which takes into account the quadrant.
          </p>
        </section>

        <section>
          <h2>From Polar to 2D Cartesian</h2>
          <p>
          \[
            \begin{array}{rcl}
              x & = & r \cdot \cos(\theta) \\
              y & = & r \cdot \sin(\theta) \\
            \end{array}
          \]
          </p>
        </section>

        <section>
          <h2>From 3D Cartesian to Spherical</h2>
          <p>
          \[
            \begin{array}{rcl}
              r & = & \sqrt{x^2 + y^2 + z^2} \\
              \theta & = & \mathrm{atan2}(z, x) \\
              \phi & = & 90^\circ - \arccos(y/r) \\
            \end{array}
          \]
          where $\theta$ corresponds to the azimuth angle and $\phi$ to the elevation angle.
          </p>
        </section>

        <section>
          <h2>From Spherical to 3D Cartesian</h2>
          <p>
          \[
            \begin{array}{rcl}
              x & = & r \cdot \cos\theta \cdot \cos\phi \\
              y & = & r \cdot \sin\phi \\
              z & = & r \cdot \sin\theta \cdot \cos\phi \\
            \end{array}
          \]
            where $\theta$ corresponds to the azimuth angle and $\phi$ to the elevation angle.
          </p>
        </section>
      </section>
    </div>
  </body>

  <script>
    function initialize()
    {
    }

    $( initialize );    
  </script>

</html>
