<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Spot Lights</title>
    <%= stylesheets('3dcg', 'box2') %>
    <%= scripts('jquery', 'jquery-ui', 'underscore', 'ace/ace', 'source-editor') %>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      Spot Lights
    </header>
    <div id="contents">
      <section>
        <h1>Explanation</h1>
        <p>
          Contrary to omnidirectional lights, which send photons out in all directions, spot lights
          emit photons as if blocked by a cone:
        </p>
        <%= tex_image 'spot-light' %>
        <p>
          A spot light has the following characteristics:
        </p>
        <ul>
          <li>
            A position $L$.
          </li>
          <li>
            A central shining direction specified by a vector $\vec v$ (shown in red in the above figure).
          </li>
          <li>
            A beam angle $\theta$.
          </li>
        </ul>
        <p>
          The spot light sends lights to some location $P$ if the angle between $LP$ and $\vec v$ is less than $\frac\theta2$.
          We know the dot product $\vec u \cdot \vec v$ gives us the cosine of the angle between the two vectors $\vec u$ and $\vec v$.
          Given that the cosine decreases with increasing angle, we get
          \[
            \alpha &lt; \beta \Leftrightarrow \cos\alpha &gt; \cos\beta \qquad \textrm{for } 0 \leq \alpha, \beta \leq 90^\circ
          \]          
          Applied to our spot lights, this results in
          \[
            \frac{P-L}{|P-L|} \cdot \vec v \geq \cos \frac\theta2
          \]
        </p>
      </section>
    </div>
  </body>
  <script>
    function initialize()
    {
      SourceEditor.initialize();
    }

    $( initialize );   
  </script>
</html>
