<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Mathematics Behind Ray Tracing</title>
    <%= stylesheets('ucll', 'box') %>
    <%= scripts('jquery', 'underscore', 'box') %>
    <style>
      img.large {
        width: 60%;
      }

      table.centered {
        margin-left: auto;
        margin-right: auto;
      }

      table.tabular {
        border-collapse; collapse;
      }

      table.tabular tr:first-child {
        background: #AAA;
      }

      table.tabular th {
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
      }

      table.tabular td {
        text-align: center;
      }
    </style>
  </head>

  <body>
    <header>
      <div class="center-vertically">Mathematics Behind Ray Tracing</div>
    </header>
    <div id="contents">
      <section>
        <h1>Points</h1>
        <p>
          A point is characterized by its location in space.
          One way to specify this location is to rely on <em>coordinates</em>.
        </p>

        <section>
          <h2>2D Cartesian Coordinates</h2>
          <%= tex_image '2d-cartesian' %>
        </section>

        <section>
          <h2>Polar Coordinates</h2>
          <p>
            Where 2D Cartesian coordinates consist of two numbers x and y,
            polar coordinates specify a location using an angle &theta;
            and a radius r.
            <ul>
              <li>
                The angle &theta; can vary from 0&deg; to 360&deg; and
                indicates the direction in which to look.
              </li>
              <li>
                The radius r indicates how far away
                in this direction the point is located.
              </li>
            </ul>
          </p>
          <%= tex_image 'polar' %>
        </section>
        
        <section>
          <h2>3D Cartesian Coordinates</h2>
          <%= tex_image '3d-cartesian' %>
        </section>

        <section>
          <h2>Spherical Coordinates</h2>
          <p>
            Spherical coordinates are similar to polar coordinates,
            except for the fact that these are used in 3D space.
          </p>
          <%= tex_image 'spherical' %>
          <p>
            Spherical coordinates consist of three numbers:
          </p>
          <ul>
            <li>
              The <em>azimuth angle</em> indicates in which direction on the horizontal plane the point lies.
              This angle varies from 0&deg; and 360&deg (or -180&deg; and +180&deg;, which is exactly the same, since -90&deg; equals 270&deg; etc.) The angle is measured counterclockwise.
              On the above figure, ROQ is the azimuth angle and should be approximately -60&deg;.
            </li>
            <li>
              The <em>elevation angle</em> corresponds to the angle in the vertical plane. It varies between -90&deg; and +90&deg;.
              On the figure, QOP is the elevation angle and looks to be about +60&deg;.
            </li>
            <li>
              The <em>radius</em> tells you how far away the point lies in the direction specified by the azimuth and elevation angles.
              On the figure, the radius corresponds to the distance |OP|.
            </li>
          </ul>          
          
          <div class="boxed" data-category="example">
            <p>
              Say you are located at the origin (0,0,0).
              To the left of you is a 5km height mountain. It is 100km away.
            </p>
            <ul>
              <li>
                The Cartesian coordinates of the top are (-100, 5, 0).
              </li>
              <li>
                The spherical coordinates are
                <ul>
                  <li>
                    Azimuth angle: 90&deg; because the mountain top is to your left.
                  </li>
                  <li>
                    Elevation angle: 16&deg; because the top is higher.
                  </li>
                  <li>
                    Radius: 100.125 which is the distance between you and the mountain top.
                  </li>
                </ul>
              </li>
            </ul>
          </div>

          <p>
            More information can be found on <a href="https://en.wikipedia.org/wiki/Spherical_coordinate_system">Wikipedia</a>.
            Note that their are many ways to define spherical coordinates: you can change which angles and in which direction to measure them.
            For example, Wikipedia uses the zenith angle instead of the elevation angle. We choose to use the latter as it is easier to reason about in our context.
          </p>
        </section>

        <section>
          <h2>Conversions Between Coordinate Systems</h2>
          <p>
            You can convert from one coordinate system to another using the following formulae:
          </p>
          <ul>
            <li>
              From 2D Cartesian to polar:
              <%= tex_image('convert-cartesian-to-polar', density: 200, html_class: 'centered') %>
              where <a href="http://en.cppreference.com/w/cpp/numeric/math/atan2">atan2</a>
              is an arc tangent function which takes into account the quadrant.
            </li>
            <li>
              From polar to 2D Cartesian:
              <%= tex_image('convert-polar-to-cartesian', density: 200, html_class: 'centered') %>
            </li>
            <li>
              From 3D Cartesian to spherical:
              <%= tex_image('convert-cartesian-to-spherical', density: 200, html_class: 'centered') %>
              where &theta; corresponds to the azimuth angle and &phi; to the elevation angle.
            </li>
            <li>
              From spherical to 3D Cartesian:
              <%= tex_image('convert-spherical-to-cartesian', density: 200, html_class: 'centered') %>
              where &theta; corresponds to the azimuth angle and &phi; to the elevation angle.
            </li>
          </ul>
        </section>
      </section>

      <section>
        <h1>Vectors</h1>
        <p>
          Vectors look very similar to points because they can also be specified using coordinates. Just like there is a point with coordinates (1, 2, 3),
          there is also a vector (1, 2, 3). However, there is an important conceptual difference between points and vectors.
        </p>
        <p>
          A point defines a <em>location</em>. A vector defines a <em>difference in locations</em>. To clarify this distinction,
          we take a brief detour.
        </p>
        <p>
          Let us pick two numbers at random, say 5 and 9. If we wish to compute their difference, or the "distance" between them,
          we can subtract them, giving us 4, which is again a number. This means the difference between two numbers is a number.
        </p>
        <p>
          Let us now pick two dates: 8 September 2000 and 18 September 2000. What is the "distance" between them?
          The difference is 10 <em>days</em>, which is obviously not a date. We can never express the
          difference between two dates as a new date: it makes no sense. Instead, the difference between
          two dates is a <em>time span</em> or <em>duration</em>.
        </p>
        <p>
          A date is generally represented by three numbers, written day/month/year.
          A duration can be represented similarly: #days/#months/#years.
          So we could say that the difference between dates 8/9/2000 and 18/9/2000 is 10/0/0.
          Even though dates and durations can be expressed using three numbers, it is clearly
          absurd to interpret 10/0/0 as a date.
        </p>
        <p>
          The same goes with points and vectors. A point corresponds to a date, whereas vectors
          correspond to durations. Given two points (4, 1, 9) and (4, 7, 6), the difference
          between them is the <em>vector</em> (0, 6, -3).
        </p>
        <p>
          Visually, a vector is represented by an arrow.
        </p>
        <%= tex_image('vector', html_class: 'centered') %>
        <p>
          Realize that only the length, orientation and direction of the arrow have significance.
          All arrows below represent the same vector.
        </p>
        <%= tex_image('equal-vectors', html_class: 'centered') %>
      </section>

      <section>
        <h1>Operations on Points and Vectors</h1>
        <p>
          You are (hopefully) familiar with real numbers and the operators defined on them, such
          as addition, subtraction, multiplication, division, square root, etc. Similar operations are defined on points and vectors.
          However, you have to be careful to notice that not all combinations are permitted.
          For example, you can add two vectors, but you cannot add two points together.
        </p>

        <section>
          <h2>Addition</h2>
          <p>
            Following additions are defined:
          </p>
          <ul>
            <li>
              The addition of two vectors with Cartesian coordinates (x, y, z) and (x', y', z') gives the vector (x + x', y + y', z + z').
              You can interpret this as sequencing directions. For example, "go 10m northwards, then go 5m eastwards"
              can be mathematically described as (0,10) + (5,0) = (5, 10).
            </li>
            <li>
              The addition of a point and a vector (or a vector and a point) can be computed with the same formula as above, i.e. take
              the sum of the x-, y- and (if in 3D) z-coordinates. The result is a new point. You can interpret this
              as moving a point in a certain direction.
            </li>           
          </ul>
          <p>
            You <em>cannot</em> add two points together.
          </p>
          <p>
            If you need to add points and vectors described in polar or spherical coordinates,
            you have to convert these into Cartesian coordinates first.
          </p>
          <table class="tabular centered">
            <tbody>
              <tr>
                <th>Left operand</th>
                <th>+</th>
                <th>Right operand</th>
                <th>=</th>
                <th>Result</th>
              </tr>
              <tr>
                <td>Vector</td>
                <td>+</td>
                <td>Vector</td>
                <td>=</td>
                <td>Vector</td>
              </tr>
              <tr>
                <td>Point</td>
                <td>+</td>
                <td>Vector</td>
                <td>=</td>
                <td>Point</td>
              </tr>
              <tr>
                <td>Vector</td>
                <td>+</td>
                <td>Point</td>
                <td>=</td>
                <td>Point</td>
              </tr>
            </tbody>
          </table>
        </section>

        <section>
          <h2>Subtraction</h2>
          <p>
            Subtraction is quite similar to addition. Again, take care of noticing
            which combinations of operands are allowed. The formula is what you would
            expect it to be: (x, y, z) - (x', y', z') equals (x-x', y-y', z-z') where
            (x, y, z) and (x', y', z') are the Cartesian coordinates of the points/vectors.
          </p>
          <table class="tabular centered">
            <tbody>
              <tr>
                <th>Left operand</th>
                <th>-</th>
                <th>Right operand</th>
                <th>=</th>
                <th>Result</th>
              </tr>
              <tr>
                <td>Point</td>
                <td>-</td>
                <td>Point</td>
                <td>=</td>
                <td>Vector</td>
              </tr>
              <tr>
                <td>Point</td>
                <td>-</td>
                <td>Vector</td>
                <td>=</td>
                <td>Point</td>
              </tr>
              <tr>
                <td>Vector</td>
                <td>-</td>
                <td>Vector</td>
                <td>=</td>
                <td>Vector</td>
              </tr>
            </tbody>
          </table>
        </section>

        <section>
          <h2>Multiplication</h2>
          <p>
            Multiplication is less intuitive than addition and subtraction.            
          </p>
          <table class="tabular centered">
            <tbody>
              <tr>
                <th>Left operand</th>
                <th></th>
                <th>Right operand</th>
                <th>=</th>
                <th>Result</th>
              </tr>
              <tr>
                <td>Vector</td>
                <td>&middot;</td>
                <td>Vector</td>
                <td>=</td>
                <td>Scalar</td>
              </tr>
              <tr>
                <td>Vector</td>
                <td>&times;</td>
                <td>Vector</td>
                <td>=</td>
                <td>Vector</td>
              </tr>
              <tr>
                <td>Vector</td>
                <td>&middot;</td>
                <td>Scalar</td>
                <td>=</td>
                <td>Vector</td>
              </tr>
              <tr>
                <td>Scalar</td>
                <td>&middot;</td>
                <td>Vector</td>
                <td>=</td>
                <td>Vector</td>
              </tr>
            </tbody>
          </table>
          <p>
            Scalar is just a fancy name for "a number". For example, 5 &middot; (1, 2, 3) is an example of multipying a scalar and a vector.
          </p>
          <p>
            The first thing you need to notice is that there are <em>two</em> different multiplication symbols (&middot; and &times;)
            each denoting a different kind of multiplication. Note also that no multiplication is defined on points.
          </p>
          <p>
            We discuss the different kinds of multiplication in turn.
          </p>

          <section>
            <h3>Scalar-Vector Multiplication</h3>
            <p>
              Multiplying a vector (x, y, z) with a scalar c results in a new vector (c x, c y, c z), i.e. you multiply each coordinate
              with the scalar. You can also easily compute multiplication using polar and spherical coordinates, in which case only the radius needs to be multiplied
              by the scalar. However, in our ray tracer, we will represent vectors using Cartesian coordinates, so the polar/spherical version is not important to us.
            </p>
            <p>
              Multiplication of a vector corresponds to lengthening (or shortening) the vector while keeping its orientation intact.
            </p>
            <%= tex_image 'vector-multiplication' %>
            <p>
              Notice the following:
            </p>
            <ul>
              <li>
                Multiplying a vector by a scalar whose absolute value is greater than 1 lengthens the vector.
              </li>
              <li>
                Multiplying a vector by a scalar whose absolute value is less than 1 shortens the vector.
              </li>
              <li>
                Multiplying a vector by a negative number flips the vector around. The orientation remains the same, but the direction is inverted.
              </li>
            </ul>
            <p>
              It is also possible to divide a vector by a scalar: v / c = v &middot; (1/c). In other words,
              dividing a vector by 2 is the same as multiplying it by 1/2.
            </p>
          </section>

          <section>
            <h3>Dot Multiplication</h3>
            <p>
              A vector can be multiplied with another vector in two ways. In English, these two multiplications
              are named after their respective symbols, while in Dutch they are named after their result.              
            </p>
            
            <table class="tabular centered">
              <tbody>
                <tr>
                  <th>Symbol</th>
                  <th>English name</th>
                  <th>Dutch name</th>
                </tr>
                <tr>
                  <td>&middot;</td>
                  <td>Dot product</td>
                  <td>Scalair product</td>
                </tr>
                <tr>
                  <td>&times;</td>
                  <td>Cross product</td>
                  <td>Vectorieel product</td>
                </tr>
              </tbody>
            </table>
            <p>
              The dot product of two vectors yields a scalar, which is computed as follows:
              given two vectors with cartesian coordinates (x, y, z) and (x', y', z'),
              the dot product is equal to x x' + y y' + z z'.
            </p>
            <p>
              Without <em>meaning</em> this operator wouldn't have much use. So, what
              does this scalar represent? What can we use it for?
            </p>
            <p>
              To answer this question, you need two know of an alternative way or computing the dot product:
              u &middot; v = |u| |v| cos(&theta;). In other words,
              the dot product equals the multiplication of the length of both vectors
              and the cosine of the angle between them.
            </p>
            <%= tex_image 'dot-product' %>
            <p>
              This alternative formula makes it possible to use the dot product to compute the length
              of vectors and the angle between them.
            </p>
            <p>
              To determine the length of a vector v(x,y,z) we can multiplying v by itself.
              In this case the dot product yields |v| |v| cos(0&deg;). Because cos(0&deg;) = 1,
              we get x<sup>2</sup>+y<sup>2</sup>+z<sup>2</sup> = |v|<sup>2</sup>. Taking the square
              root yields the length of the vector.
            </p>
            <p>
              Finding the angle between the vectors is a bit more complicated.
              We know that u &middot; v = |u| |v| cos(&theta;). First, we need to get rid
              of |u| and |v| as they "muddy things up". Fortunately, we can achieve this easily
              by making sure u and v have length 1, so that |u| &middot; |v| &middot; cos(&theta;)
              becomes 1 &middot; 1 &middot; cos(&theta;) = cos(&theta;).
            </p>
            <p>
              To make u and v have length 1, we can divide them by their lengths: u/|u| and v/|v|
              both have length 1 but have the same orientation and direction as the original vectors u and v,
              i.e. the angle between u/|u| and v/|v|, and u and v is the same.
            </p>
            <p>
              Computing the dot product of u/|u| and v/|v| then yields cos(&theta;) with &theta; the angle
              between u and v. 
            </p>

          </section>
          
        </section>
      </section>
    </div>
  </body>

  <script>
    function initialize()
    {
      Box.initialize();
    }

    $( initialize );    
  </script>

</html>
