<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Mathematics Behind Ray Tracing</title>
    <%= stylesheets('ucll', 'box') %>
    <%= scripts('jquery', 'underscore', 'box') %>
    <style>
      img.centered {
        width: 60%;
      }
    </style>
  </head>

  <body>
    <header>
      <div class="center-vertically">Mathematics Behind Ray Tracing</div>
    </header>
    <div id="contents">
      <section>
        <h1>Points</h1>
        <p>
          A point is characterized by its location in space.
          One way to specify this location is to rely on <em>coordinates</em>.
        </p>

        <section>
          <h2>2D Cartesian Coordinates</h2>
          <%= tex_image '2d-cartesian' %>
        </section>

        <section>
          <h2>Polar Coordinates</h2>
          <p>
            Where 2D Cartesian coordinates consist of two numbers x and y,
            polar coordinates specify a location using an angle &theta;
            and a radius r.
            <ul>
              <li>
                The angle &theta; can vary from 0&deg; to 360&deg; and
                indicates the direction in which to look.
              </li>
              <li>
                The radius r indicates how far away
                in this direction the point is located.
              </li>
            </ul>
          </p>
          <%= tex_image 'polar' %>
        </section>
        
        <section>
          <h2>3D Cartesian Coordinates</h2>
          <%= tex_image '3d-cartesian' %>
        </section>

        <section>
          <h2>Spherical Coordinates</h2>
          <p>
            Spherical coordinates are similar to polar coordinates,
            except for the fact that these are used in 3D space.
          </p>
          <%= tex_image 'spherical' %>
          <p>
            Spherical coordinates consist of three numbers:
          </p>
          <ul>
            <li>
              The <em>azimuth angle</em> indicates in which direction on the horizontal plane the point lies.
              This angle varies from 0&deg; and 360&deg (or -180&deg; and +180&deg;, which is exactly the same, since -90&deg; equals 270&deg; etc.) The angle is measured counterclockwise.
              On the above figure, ROQ is the azimuth angle and should be approximately -60&deg;.
            </li>
            <li>
              The <em>elevation angle</em> corresponds to the angle in the vertical plane. It varies between -90&deg; and +90&deg;.
              On the figure, QOP is the elevation angle and looks to be about +60&deg;.
            </li>
            <li>
              The <em>radius</em> tells you how far away the point lies in the direction specified by the azimuth and elevation angles.
              On the figure, the radius corresponds to the distance |OP|.
            </li>
          </ul>          
          
          <div class="boxed" data-category="example">
            <p>
              Say you are located at the origin (0,0,0).
              To the left of you is a 5km height mountain. It is 100km away.
            </p>
            <ul>
              <li>
                The Cartesian coordinates of the top are (-100, 5, 0).
              </li>
              <li>
                The spherical coordinates are
                <ul>
                  <li>
                    Azimuth angle: 90&deg; because the mountain top is to your left.
                  </li>
                  <li>
                    Elevation angle: 16&deg; because the top is higher.
                  </li>
                  <li>
                    Radius: 100.125 which is the distance between you and the mountain top.
                  </li>
                </ul>
              </li>
            </ul>
          </div>

          <p>
            More information can be found on <a href="https://en.wikipedia.org/wiki/Spherical_coordinate_system">Wikipedia</a>.
            Note that their are many ways to define spherical coordinates: you can change which angles and in which direction to measure them.
            For example, Wikipedia uses the zenith angle instead of the elevation angle. We choose to use the latter as it is easier to reason about in our context.
          </p>
        </section>
        
      </section>
    </div>
  </body>

  <script>
    function initialize()
    {
      Box.initialize();
    }

    $( initialize );    
  </script>

</html>
