<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Mesh</title>
    <%= stylesheets('3dcg', 'box2') %>
    <%= scripts('jquery', 'jquery-ui', 'underscore', 'ace/ace', 'source-editor') %>
    <style>
      img.large {
        width: 60%;
      }

      video {
        margin: 10px auto;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      Mesh
    </header>
    <div id="contents">
      <%= overview(prerequisites: ['primitives/triangle', 'primitives/bounding-box-accelerator'],
                   reading_material: ['primitives/mesh']) %>

      <section>
        <h1>Preview</h1>
        <%= raytrace_movie 'demo' %>
        <%= source 'demo.chai' %>
      </section>      

      <section>
        <h1>Implementation</h1>
        <p>
          This extension should be made by all team members, as each member can implement a different algorithm for building
          bounding box hierarchies.
        </p>

        <section>
          <h2>Optimization</h2>
          <p>
            This optimization part of the extension is comprised of the following steps:
          </p>
          <ul>
            <li>
              Reading the mesh.
            </li>
            <li>
              Optimizing the mesh.
            </li>
            <li>
              Writing the optimized mesh to file.
            </li>
          </ul>
          <p>
            These steps are independent of the ray tracer. You should implement them as a separate tool, meaning
            you should store the code in a separate directory in your repository.
            Since this tool is completely separate from the ray tracer, you are free to pick any programming language
            you wish.
          </p>    
          <p>
            In order to read a mesh, you need to have a mesh. For simplicity, you can use
            <%= raw_link('meshes', 'any one of these meshes', check: false) %>. The format
            in which they're stored is described in the reading material.
            If you feel like it, you can pick any other mesh you want. An online
            source of freely downloadable meshes is <a href="http://archive3d.net/">Archive3D</a>.
            You will have to find out how to read in these files for yourself. The .ply and .obj formats
            should be easy enough to process.
          </p>
          <p>
            Once you've managed to read all triangles from the mesh, you can
            start the optimization phase. We suggest working with a bounding box hierarchy,
            as described in the reading material, but again you are free to take any approach you want.
            The goal remains the same: being able to render a large mesh consisting of millions of
            triangles in under a second.
          </p>
          <p>
            Once the bounding box hierarchy has been built, you need to write it to file.
            It is up to you to determine how to do this. Given the fact
            that all team members are required to implement this extension,
            it is advisable to use a common file format, so that
            the ray tracer itself needs only be extended with one mesh loader.
          </p>
          <aside class="boxed2">
            <h1>Task</h1>
            <p>
              Create a tool that builds bounding box hierarchies for meshes.
            </p>
          </aside>
        </section>

        <section>
          <h2>Rendering</h2>
          <p>
            The mesh primitive should be rather easy to add to the ray tracer, as most
            of the work is already done. You need only implement
            a function that reads in the file produced in the previous
            file and contents, instantiates triangles and bounding box accelerators as prescribed
            by the file's contents.
          </p>
          <aside class="boxed2">
            <h1>Task</h1>
            <p>
              Extend the ray tracer with a mesh primitive.
            </p>
          </aside>
        </section>
      </section>
    </div>
  </body>

  <script>
    function initialize()
    {
      SourceEditor.initialize();
    }

    $( initialize );   
  </script>
</html>
