<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Ambient Lighting</title>
    <%= stylesheets('3dcg', 'box2') %>
    <%= scripts('jquery', 'jquery-ui', 'underscore', 'ace/ace', 'source-editor') %>
    <style>
      img.large {
        width: 60%;
      }

      table.centered {
        margin: 10px auto;
      }

      table {
        border: 1px solid black;
      }

      table td {
        padding-right: 1em;
      }

      table th {
        text-align: left;
        background: #AAA;
        margin: 0.2em 1em;
      }

      dt {
        font-weight: bold;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      Ambient Lighting
    </header>
    <div id="contents">
      <section>
        <h1>Explanation</h1>
        <p>
          Ambient lighting is the simplest of all lighting methods, but it is also very very fake.
        </p>
        <p>
          Consider the following animation:
        </p>
        <%= raytrace_movie 'without-ambient' %>
        <p>
          As the light source moves inside the box and to the upper left part of it,
          the sphere gets completely obscured in shadows. In reality,
          part of the light should travel from the upper left to the right white wall,
          bounce off of it, and still reach the sphere, making it slightly visible.
        </p>
        <p>
          This kind of indirect lighting is both relatively complex to implement and computationally expensive.
          For this reason, we will generally limit ourselves to direct lighting, i.e.
          in our algorithms, we take into account only light that comes directly from a light source.
        </p>
        <p>
          Ambient lighting is our way of pretending that we can handle indirect lighting:
          we just assume that somehow, there's <em>always</em> some "light seepage" that slightly illuminates
          objects in the scene. To be physically correct, we would have to actually find a path from light
          source to object along which photons can reach the objects, but as is typical in the graphics world,
          we try to find a cheap way that still gives reasonable results.
        </p>
        <%= raytrace_movie 'with-ambient' %>
        <p>
          Notice how the shadows are less dark and that the sphere now remains
          at least slightly visible throughout the animation.
        </p>
        <p>
          Expressed more formally: when the ray tracer finds a hit, it needs to determine
          how many photons and their color arrive at that location. Normally,
          it does this by going through the list of light sources, computing how many
          photons each light source $L_{1,2,\dots}$ emits and how many of those find their way to the
          hit location:
          \[
            \textrm{total light} = \textrm{photons from } L_1 + \textrm{photons from } L_2 + \dots
          \]
          Ambient lighting adds a constant to this:
          \[
            \textrm{total light} = \textrm{ambient photons} + \textrm{photons from } L_1 + \textrm{photons from } L_2 + \dots
          \]
        </p>
      </section>
    </div>
  </body>
  <script>
    function initialize()
    {
      SourceEditor.initialize();
    }

    $( initialize );   
  </script>
</html>
