<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Anonymous Namespaces</title>
    <%= stylesheets('3dcg', 'box2') %>
    <%= scripts('jquery', 'jquery-ui', 'underscore', 'ace/ace', 'source-editor') %>
    <style>
      img.large {
        width: 60%;
      }

      table.centered {
        margin-left: auto;
        margin-right: auto;
      }

      table.tabular {
        border-collapse; collapse;
      }

      table.tabular tr:first-child {
        background: #AAA;
      }

      table.tabular th {
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
      }

      table.tabular td {
        text-align: center;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      Anonymous Namespaces
    </header>
    <div id="contents">
      <section>
        <h1>Namespaces</h1>
        <p>
          A C++ application can comprise many <code>.cpp</code> files. These generally contain class and function definitions,
          some of which are private to the file, others which are made public by putting a declaration in a corresponding header file.
        </p>
        <p>
          Consider two <code>.cpp</code> files, <code>A.cpp</code> and <code>B.cpp</code>. They expose a function <code>a()</code> and <code>b()</code>
          respectively, and both rely on some helper method.
        </p>
        <%= tex_image 'helper-functions' %>
        <p>
          This won't build successfully: the compiler will not complain, but the linker will see two definitions for <code>helper</code>, which it doesn't like.
          Every function should have only one definition. It does not matter to the linker that the definitions reside in separate compilation units.
        </p>
        <p>
          This is a rather annoying problem: <code>helper</code> is supposed to be private to each <code>.cpp</code> file. When working in a team,
          you would have to document which private functions there are in each <code>.cpp</code> file so that no one uses the same names.
          This would quickly lead to a horrible naming mess.
        </p>
        <p>
          To remedy this problem, you could put the helper functions in a <code>.cpp</code>-specific namespace:
          <code>A.cpp</code> would have a <code>A_private::helper</code> and <code>B.cpp</code> a <code>B_private::helper</code> function.
          In this case, neither the compiler nor the linker would complain.
        </p>
        <%= source 'namespaces.cpp' %>        
        <p>
          An easier solution would be to have <code>A.cpp</code> and <code>B.cpp</code> put their private definitions in an
          <em>anonymous namespace</em>, i.e. a namespace without name:
        </p>
        <%= source 'anonymous-namespaces.cpp' %>
        <p>
          In this case, the compiler would auto-generate a unique name for you. This namespace is automatically imported
          in the global namespace, i.e. you don't have to write <code>using namespace</code> and can simply
          refer to <code>helper()</code> without namespace qualification.
        </p>
      </section>
    </div>
  </body>

  <script>
    function initialize()
    {
      SourceEditor.initialize();
    }

    $( initialize );   
  </script>
</html>
