<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Message Board</title>
    <%= stylesheets('3dcg', 'box2') %>
    <%= scripts('jquery', 'jquery-ui', 'underscore', 'ace/ace', 'source-editor') %>
    <style>
      article
      {
        background: #DDF;
        width: 80%;
        margin: 50px auto;
        padding: 1em;
      }

      article h1
      {
        margin: 0px 0px;
        background: black;
        color: white;
        font-size: 100%;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      Message Board
    </header>
    <div id="contents">
      <section>
        <h1>Release Notes</h1>
        <p>
          Updates to the base ray tracer or 3D Studio will be posted here.
        </p>
        <article>
          <h1>Ray Tracer</h1>
          <p>
            No changes yet.
          </p>
        </article>
        <article>
          <h1>3D Studio</h1>
          <ul>
            <li>
              26/9/2017: toolbar open button can be used to open both chai and wif files.
            </li>
          </ul>
        </article>
      </section>
      <section>
        <h1>Cake Points!</h1>
        <p>
          Gain <a href="https://ucll-my.sharepoint.com/personal/u0057764_ucll_be/_layouts/15/guestaccess.aspx?docid=044c588da96e04e0e9c26700cee7672f8&authkey=AUqIvNYX736E930GpCvixwY">Cake Points</a> by finding mistakes in the html pages. Rules:
        </p>
        <ul>
          <li>
            Mistakes have to be reported by mail.
          </li>
          <li>
            Only the first one to find a mistake gets the point.
          </li>
          <li>
            Typos, errors in formulae, broken links, &hellip; are considered mistakes.
          </li>
          <li>
            Black nodes in the overview are missing. This is normal and is not a mistake.
          </li>
        </ul>          
      </section>

      <section>
        <h1>Coding Guidelines</h1>
        <article>
          <h1>Sanity Checks (06/10/2016)</h1>
          <p>
            Try to write as many assertions as you can. An assertion is written <code>assert(some_condition)</code>
            and is checked only in debug builds. If the condition fails, the application will crash
            with an error message indicating which assertion went wrong.
          </p>
          <p>
            Assertions are a valuable debugging tool. Say you're writing code that should produce a unit length vector <code>v</code>
            that's perpendicular on some other vector <code>u</code>. Before returning this vector <code>v</code>,
            perform the following sanity checks:
          </p>
          <ul>
            <li>
              <code>assert(v.is_unit());</code>
            </li>
            <li>
              <code>assert(v.is_perpendicular_on(u));</code>
            </li>
          </ul>
          <p>
            You can see assertions as some kind of inline unit tests: every time the code is executed,
            you perform a quick test to see if the results make sense.
          </p>
          <p>
            Note that assertions should not be used to verify external input: these checks should <em>always</em> be performed at runtime, i.e.
            not just in debug builds but also in release builds. Use assertions only to check "internal" code.
          </p>
        </article>
      </section>
      
      <section>
        <h1>Troubleshooting</h1>
        <article>
          <h1 id="asking-for-help">Asking for Help (28/09/2017)</h1>
          <p>
          In case you're having trouble and are about to send me an email: please do <strong>not</strong> send code. I forbid it. This is useless because
          </p>
          <ul>
            <li>
              It is often the case that the error is not where you think it is.
            </li>
            <li>
              I do not correct code by intensely staring at it. I need to debug it, to modify it, to poke and prod it.
            </li>
          </ul>
          <p>
            Instead, you need to push your code to Bitbucket, explain the error by mail and give me the repo url (so that I don't have to look it up each time on the team sheet.)
            In so doing, I have full access to your code, allowing me to test it, correct it, and push my modifications. This is much simpler than having to answer with a long list of vague "change this here and that there"s.
          <p>
          <p>
            If you're reluctant to push buggy code to your repo, you are absolutely correct. It is much better to create a separate branch. You do this as follows:
          </p>
          <ul>
            <li>
              Initial situation: you are on the master branch and have made some changes to your code, but they don't work. These changes have not been "git add"-ed yet, which is good.
            </li>
            <li>
              Create a new branch: <code>git branch <span style="font-style: italic;">branchname</span></code>. E.g. <code>git branch helpimstuck</code>.
            </li>
            <li>
              Switch to this new branch using <code>git checkout <span style="font-style: italic;">branchname</span></code>, e.g. <code>git checkout helpimstuck</code>.
            </li>
            <li>
              Add your changes: <code>git add <span style="font-style: italic;">files</span></code>.
            </li>
            <li>
              Commit your changes: <code>git commit -m <span style="font-style: italic;">message</span></code>.
            </li>
            <li>
              Push your changes: <code>git push -u origin <span style="font-style: italic;">branchname</span></code>, e.g. <code>git push -u origin helpimstuck</code>. The <code>-u</code> is only needed for your first push.
              It tells git to remember that your new local branch must be linked with the remote branch on Bitbucket. Subsequent pushes on this branch can be done with a simple <code>git push</code>.
            </li>
          </ul>
          <p>
            If I make changes, this is how to retrieve them:
          </p>
          <ul>
            <li>
              While on the correct branch (the one you created above), pull in my modifications: <code>git pull</code>.
            </li>
            <li>
              You should take a look at the changes I made: <code>git diff HEAD~1 HEAD</code>.
            </li>
            <li>
              You should definitely check that everything works, i.e. build and run.
            </li>
            <li>
              Switch to the master branch: <code>git checkout master</code>.
            </li>
            <li>
              Take in the changes made in the other branch: <code>git merge <span style="font-style: italic;">branchname</span></code>, e.g. <code>git merge helpimstuck</code>.
            </li>
          </ul>
        </article>

        <article>
          <h1>Long Rendering Times (04/10/2016)</h1>
          <p>
            If rendering takes too long, try the following things:
          </p>
          <ul>
            <li>
              Make sure you're not running a debug build.
            </li>
            <li>
              Decrease the resolution. Remember: going from 500 &times; 500 to 400 &times; 400 will reduce
              your rendering times by a approximately 40%.
            </li>
            <li>
              Add <%= link 'extensions/performance/parallel-task-scheduler', 'multithreading' %>. Since ray tracing
              is <a href="https://en.wikipedia.org/wiki/Embarrassingly_parallel">embarrassingly parallel</a>,
              you will, depending on your cpu, be able to get gains ranging from 2 to 8&times; faster.
            </li>
          </ul>
        </article>
      </section>
    </div>
  </body>
  <script>
    function initialize()
    {
      SourceEditor.initialize();
    }

    $( initialize );   
  </script>
</html>
