<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Cross Product</title>
    <%= stylesheets('3dcg', 'box2') %>
    <%= scripts('jquery', 'underscore') %>
    <style>
      img.large {
        width: 60%;
      }

      table.centered {
        margin-left: auto;
        margin-right: auto;
      }

      table.tabular {
        border-collapse; collapse;
      }

      table.tabular tr:first-child {
        background: #AAA;
      }

      table.tabular th {
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
      }

      table.tabular td {
        text-align: center;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      Cross Product
    </header>
    <div id="contents">
      <section>
        <h1>Cross Product</h1>
        <p>
          Contrary to the <%= link 'reference/math/dot-product', 'dot product' %> which
          resulted in a scalar, the cross product yields a <em>vector</em>, which can be found using the following formula:
        </p>
        \[
          (x_1, y_1, z_1) \times (x_2, y_2, z_2) = (y_1 \cdot z_2-y_2 \cdot z_1, x_2 \cdot z_1-x_1 \cdot z_2, x_1 \cdot y_2 - x_2 \cdot y_1)
        \]
        <p>
          The resulting vector has the following characteristics:
        </p>
        <ul>
          <li>
            $\vec u \times \vec v$ is perpendicular to both $\vec u$ and $\vec v$.
          </li>
          <li>
            The length of the resulting vector equals the product of the lengths of the operands times the sine of the angle they form.
            \[
            |\vec u \times \vec v| = |\vec u| \cdot |\vec v| \cdot \sin(\theta)
            \]
          </li>
          <li>
            Be careful: the cross product is <em>not</em> commutative: $\vec u \times \vec v \neq \vec v \times \vec u$. We will expand upon this shortly.
          </li>
        </ul>
        <%= tex_image('cross-product', html_class: 'centered') %>
        <p>
          In this course, we will mostly rely on the first property: being able to find a vector that is perpendicular to two others
          will regularly come in handy.
        </p>
        <p>
          There is one catch, though. Given two (nonparallel) vectors, there are always <em>two</em> vectors perpendicular to both.
          If some vector $\vec p$ is perpendicular to both $\vec u$ and $\vec v$, then so is $-\vec{p}$.
        </p>
        <%= tex_image('perpendicular-vectors', html_class: 'centered') %>
        <p>
          One perpendicular vector will be given by $\vec u \times \vec v$, the other by $\vec v \times \vec u$.
          It is very important to know which product yields which vector. This 
          <%= link 'reference/math/coordinate-systems/cartesian3d', 'depends on the coordinate system used' %>.
        </p>
        <%= tex_image 'coordinate-system' %>
        <p>
          Say we position ourselves in front of the XY-axes so that X points right and Y points upwards.
          Then there are two possible choices for Z: either Z points away from us, or it comes towards us.
          If it points away, it is called a left-hand coordinate system, otherwise a right-hand coordinate system.
          The reasoning behind this naming goes as follows: let your thumb point in X-direction
          and your index in the Y-direction.
          Depending on which hand you used, your middle finger will then, if extended,
          either point towards you or away from you. This determines the Z-direction.
        </p>
        <p>
          The cross product obeys the same rule: to find out which way $\vec u \times \vec v$ points,
          align your thumb with $\vec u$ and your index finger with $\vec v$. Your middle finger then points in the same direction as $\vec{u} \times \vec{v}$.
        </p>
        <p>
          During this course, we will make use of right hand systems exclusively.
        </p>
      </section>
    </div>
  </body>

  <script>
    function initialize()
    {
    }

    $( initialize );    
  </script>

</html>
