<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: XZ-Plane</title>
    <%= stylesheets('3dcg', 'box2') %>
    <%= scripts('jquery', 'jquery-ui', 'underscore', 'ace/ace', 'source-editor') %>
    <style>
      img.large {
        width: 60%;
      }

      video {
        margin: 10px auto;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      XZ-Plane
    </header>
    <div id="contents">
      <%= overview(reading_material: ['design/primitives/ray-intersections'],
                   mutually_exclusive_with: ['primitives/plane-yz']) %>
      <section>
        <h1>Preview</h1>
        <%= raytrace_movie 'demo' %>
        <%= source 'demo.chai' %>
      </section>
      <section>
        <h1>Understanding Planes</h1>
        <p>
          The RayTracer comes with an implementation for XY-planes.
          As a first step, you need to understand how the ray-plane intersection algorithm works.
        </p>
        <aside class="boxed2">
          <h1>Task</h1>
          <p>
            Compare the <%= link 'reference/primitives/plane', 'plane formulae' %> to the code in ``primitives/plane-primitive.cpp``.
            Find answers to the following questions:
          </p>
          <ul>
            <li>
              There are two classes involved in the implementation of XY-Planes. Which are they and how is the functionality divided amongst them?
            </li>
            <li>
              What are the values for $P$ and $\vec n$? We refer here to the $P$ and $\vec n$ mentioned <%= link 'reference/primitives/plane', 'in the plane-related math' %>.
            </li>
          </ul>
        </aside>
      </section>
      
      <section>
        <h1>Adding Planes</h1>
        <p>
          Now it is time to add support for XZ-planes.
        </p>
        <aside class="boxed2">
          <h1>Task</h1>
          <p>
            Make a ``PlaneXZImplementation`` that
            represents a XZ-plane. Let ``PlaneXYImplementation`` be your guide.
            The most notable differences between these planes are
          </p>
          <ul>
            <li>
              The normal vector, i.e. a unit-vector perpendicular on the plane.
            </li>
            <li>
              The hit object must be initialized slightly differently.
            </li>
            <li>
              Don't forget to update the bounding box.
            </li>
          </ul>
          <p>
            Run the tests to check your work.
          </p>
          <p>
            Create a new demo file that makes use of the new plane.
          </p>
        </aside>
      </section>
    </div>
  </body>

  <script>
    function initialize()
    {
      SourceEditor.initialize();
    }

    $( initialize );   
  </script>
</html>
