<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Triangle</title>
    <%= stylesheets('3dcg', 'box2') %>
    <%= scripts('jquery', 'jquery-ui', 'underscore', 'ace/ace', 'source-editor') %>
    <style>
      img.large {
        width: 60%;
      }

      table.centered {
        margin-left: auto;
        margin-right: auto;
      }

      table.tabular {
        border-collapse; collapse;
      }

      table.tabular tr:first-child {
        background: #AAA;
      }

      table.tabular th {
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
      }

      table.tabular td {
        text-align: center;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      Triangle
    </header>
    <div id="contents">
      <section>
        <h1>Mathematics</h1>
        <p>
          For other shapes such as the sphere and cylinder, we have always worked with their "canonical form", i.e.
          we have centered them at $(0,0,0)$ and set the radius to 1. While it is technically possible to treat
          triangles the same, we will take a different approach with triangles. In other words,
          we will directly support triangles with arbitrary vertices $P_1$, $P_2$ and $P_3$.
        </p>
        <p>
          The reason triangles are so often chosen as primitive shape (think of games) instead of, say, quadrilaterals,
          is that three points always lie in the same plane. The same can't be said of quadrilaterals, whose
          vertices could very easily not lie in the same plane, making the mathematics behind them much more complex.
        </p>
        <p>
          Given that the three vertices of a triangle lie in a plane, we can take the following approach in finding
          the intersection between a ray and a triangle: first, we determine where the ray hits
          the plane in which the triangle lies. Let's call this point $H$. Next, we need to determine
          whether this $H$ lies within the bounds of the triangle, which is the tricky part.
        </p>

        <section>
          <h2>Ray-Plane Hit</h2>
          <p>
            A triangle is uniquely defined by its three vertices $P_1$, $P_2$ and $P_3$, so
            using only those three points we need to be able to find the intersection of the triangle
            with an arbitrary ray $R(t) = O + \vec\Delta \cdot t$.
          </p>
          <p>
            As explained earlier, our first goal is to find out where the ray $R(t)$ hits the plane containing the triangle.
            The easiest way to go about this is relying on the following formula: say $P$ is an arbitrary point on the plane and
            $\vec N$ is a vector perpendicular on the plane, then if for a point $H$
            \[
              (H - P) \cdot \vec N = 0
            \]
            then $H$ lies on the plane. To be able to use this formula, we need a point $P$ and vector $\vec N$.
          </p>
          <p>
            Finding a $P$ is easy: we have three of them, namely the triangles vertices $P_1$, $P_2$ and $P_3$. Any one of them
            will do. To find $\vec N$, we need a little extra math.
          </p>
          <%= tex_image 'finding-normal' %>
          <p>
            We compute $\vec u = P_2 - P_1$ and $\vec v = P_3 - P_1$. Both these vectors are in the plane. Taking
            their cross product $\vec n = \vec u \times \vec v$ will yield a vector perpendicular on both of them, meaning it will also
            be perpendicular on the plane.
          </p>
          <p>
            The formula above thus becomes
            \[
              (H - P_1) \cdot ((P_2 - P_1) \times (P_3 - P_1)) = 0 
            \]
            The point $H$ should lie on the ray, i.e. $H = O + \vec\Delta \cdot t$ for some $t$. Plugging this into the equation gives
            \[
              (O + \vec\Delta \cdot t - P_1) \cdot ((P_2 - P_1) \times (P_3 - P_1)) = 0 
            \]
            We only need to solve to $t$ and we know where the ray hits the plane.
          </p>
        </section>

        <section>
          <h2>Inside Triangle Test</h2>
          <p>
            Now that we know where the hit $H$ occurs between the ray and the plane containing the triangle,
            we still need to determine whether $H$ lies within the bounds of the triangle.
          </p>
          <%= tex_image 'triangle' %>
          <p>
            Let's say we stand at $P_1$ and look at $P_2$. $H$ will be to the left of us.
            Next, let's stand at $P_2$ and look at $P_3$. Again, $H$ will be the to left of us.
            If we repeat this a last time, i.e. stand at $P_3$ and look at $P_1$, once again, $H$
            lies to the left.
          </p>
          <p>
            So, if we can somehow determine to which side $H$ lies with respect to a triangle's side, we can
            find out if $H$ lies inside the triangle.
          </p>
          <p>
            Maybe the dot product can help us somehow. Let us investigate its sign.
            For the sake of clarity, we work in 2D. We take an arbitrary vector $\vec v$ and draw it with its origin at $(0,0)$.
            Next, for each point $P$ on the plane, we determine the vector $\vec u = P - (0,0)$, i.e. we draw a vector
            from the origin to $P$. Next, we compute the dot product $\vec u \cdot \vec v$. Depending on whether the result is
            positive, zero or negative, we assign the point $P$ the color green, blue or red, respectively.
          </p>
          <%= tex_image 'dot-sign' %>
          <p>
            As you can see, all points "in front of $\vec v$" are green and all points behind $\vec v$ are red.
            In other words, the dot product can tell us whether a point lies before or behind us. But this does not help us
            with our triangle: we'd rather know whether a point is to the left or to the right of us.
          </p>
          <p>
            Maybe the cross product can help. There's a small problem though: the cross product yields vectors, not numbers,
            and there's no such thing as the "sign of a vector". We'll just have to draw the resulting vector then.
            More specifically, in each point $P$ we draw the vector $\vec v \times (P - O)$.
          </p>
          <%= tex_image 'cross-product' %>
          <p>
            The result is quite interesting: the vectors to the left of $\vec v$ point upwards and those to the right downwards.
            This makes sense: remember that with the <%= link 'reference/math/cross-product', 'cross product' %>,
            the direction of the result depends on whether the angle between the operands goes clockwise or counterclockwise.
          </p>
          <p>
            Consider the following figures:
          </p>          
          <table>
            <tbody>
              <tr>
                <td><%= tex_image('ccw-n', style: 'width: 100%;') %></td>
                <td><%= tex_image('ccw-h', style: 'width: 100%;') %></td>
              </tr>
            </tbody>
          </table>
          <p>
            Say we stand at $P_1$ and look at $P_2$. We then turn slowly to $P_3$. If while turning we also $H$,
            it means $H$ is on the right side of $P_1P_2$. To define the "correct turning direction", we
            first compute $P_1P_2 \times P_1P_3 = (P_2 - P_1) \times (P_3 - P_1)$.
            Next we compute $P_1P_2 \times P_1H = (P_2 - P_1) \times (H-P_1)$. If both directions turn the same
            way (i.e. both clockwise or both counterclockwise), the cross product vectors will point in the same direction. We can detect this
            by relying on the dot product, which will be positive if this is the case. In short, $H$ is on the correct
            side of $P_1P_2$ if
            \[
              ((P_2 - P_1) \times (H - P_1)) \cdot ((P_2 - P_1) \times (P_3 - P_1)) \geq 0
            \]
          </p>
        </section>
      </section>
      <section>
        <h1>Hit Algorithm</h1>
        <p>
          Given the following information:
        </p>
        <ul>
          <li>
            The ray $R(t) = O + \vec\Delta t$.
          </li>
          <li>
            Three vertices $P_1$, $P_2$, $P_3$.
          </li>
        </ul>
        <p>
          Follow these steps:
        </p>
        <ol>
          <li>
            Compute the normal vector on the plane. Since this remains constant, you might want to do this only once, in the constructor.
            \[
              \vec n = \frac{(P_2 - P_1) \times (P_3 - P_1)}{|(P_2 - P_1) \times (P_3 - P_1)|}
            \]
          </li>
          <li>
            Compute the hit $t$:
            \[
              t = \frac{(P_1 - O) \cdot \vec n}{\vec \Delta \cdot \vec n}
            \]
          </li>
          <li>
            Compute the hit position $P$:
            \[
              H = O + \vec \Delta \cdot t
            \]
          </li>
          <li>
            Check if $H$ lies to the right of $P_1P_2$:
            \[
              ((P_2 - P_1) \times (H - P_1)) \cdot \vec n \geq 0
            \]
          </li>
          <li>
            Check if $H$ lies to the right of $P_2P_3$:
            \[
              ((P_3 - P_2) \times (H - P_2)) \cdot \vec n \geq 0
            \]
          </li>
          <li>
            Check if $H$ lies to the right of $P_3P_1$:
            \[
              ((P_1 - P_3) \times (H - P_3)) \cdot \vec n \geq 0
            \]
          </li>
          <li>
            If any of the previous checks fails, $H$ does not lie within the bounds of the triangle.
          </li>
        </ol>
      </section>
    </div>
  </body>

  <script>
    function initialize()
    {
      SourceEditor.initialize();
    }

    $( initialize );   
  </script>
</html>
