<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Optimizing Meshes</title>
    <%= stylesheets('3dcg', 'box2') %>
    <%= scripts('jquery', 'jquery-ui', 'underscore', 'ace/ace', 'source-editor') %>
    <style>
      img.large {
        width: 60%;
      }

      video {
        margin: 10px auto;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      Optimizing Meshes
    </header>
    <div id="contents">
      <section>
        <h1>Bounding Box Hierarchies</h1>
        <p>
          In order to understand bounding box hierarchies, you need to read up on <%= link 'reference/primitives/bounding-box-accelerator', 'bounding box accelerators' %> first.
        </p>
        <p>
          Putting a single bounding box around a mesh only speeds up rendering for those rays
          that miss the box. Each time the ray does hit the box, we are again forced
          to check all triangles contained within the box for a hit. We need to find a way to avoid this.
        </p>
        <p>
          What if, instead of having a single box with a bunch of triangles in it, we build a tree of boxes?
          We have one large box, which contains two smaller boxes, which in turn also contain two smaller boxes, etc.
          We would create a hierarchy $N$ levels deep, and the boxes at the very bottom would contain triangles.
        </p>
        <%= tex_image 'hierarchy' %>
        <p>
          Finding the hits with the ray now goes as follows:
        </p>
        <ol>
          <li>
            The ray hits the outer (black) bounding box, meaning its contents (the two red boxes) cannot be skipped.
          </li>
          <li>
            Left red box is hit, so is the right red box. We need to consider all blue boxes.
          </li>
          <li>
            Of the four blue boxes, the ray does not hit the upper right one. We can therefore skip its contents (the two upper right green boxes and their contents).
          </li>
          <li>
            Out of the remaining six green boxes, the ray hits 4.
            Only their contents need to be considered further.
          </li>
        </ol>
        <p>
          So, if the triangles are evenly divided over all eight green boxes, using this hierarchy, only half of them need to
          be taken into account during our search for hits. If we were to create a deeper hierarchy, even more triangles
          can be ignored, further speeding up the process.
        </p>
      </section>
    </div>
  </body>

  <script>
    function initialize()
    {
      SourceEditor.initialize();
    }

    $( initialize );   
  </script>
</html>
