<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Area Lights</title>
    <%= stylesheets('3dcg', 'box2') %>
    <%= scripts('jquery', 'jquery-ui', 'underscore', 'ace/ace', 'source-editor') %>
    <style>
      img.large {
        width: 60%;
      }

      video {
        margin: 10px auto;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      Area Lights
    </header>
    <div id="contents">
      <%= overview(prerequisites: ['ray-tracers/v2', 'samplers/random'], reading_material: ['lights/area']) %>
      <section>
        <h1>Preview</h1>
        <%= raytrace 'demo' %>
        <%= source 'demo.chai' %>
      </section>
      <section>
        <h1>Implementation</h1>
        <p>
          Read the <%= link 'reference/lights/area', 'explanations on area lights' %> first.
        </p>
        <p>
          An area light has the following properties:
        </p>
        <ul>
          <li>
            A ``Rectangle3D`` defining its area. 
          </li>
          <li>
            A sampler, which will be used to determine which points from the area will be used as light sources.
          </li>
          <li>
            A color.
          </li>
        </ul>
        <p>
          The area light operates as follows: when asked for a list of ``LightRay``s that
          reach a given ``Point3D`` P, it asks the sampler to pick points $L_i$ from its area.
          For each such point, it creates a ``LightRay`` starting in $L_i$ going through $P$.
          Note that it is important that the ray has to be created in such a way that
          $t = 0$ coincides with $L_i$ and $t = 1$ with $P$, otherwise
          the <%= link 'extensions/ray-tracers/v4', 'shadowing algorithm' %> will not work.
        </p>
        <aside class="boxed2">
          <h1>Task</h1>
          <p>
            Implement area lights.
          </p>
        </aside>
      </section>
    </div>
  </body>

  <script>
    function initialize()
    {
      SourceEditor.initialize();
    }

    $( initialize );   
  </script>
</html>
