<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Scripting Basics</title>
    <%= stylesheets('3dcg', 'box2') %>
    <%= scripts('jquery', 'jquery-ui', 'underscore', 'ace/ace', 'source-editor') %>
    <style>
      img.large {
        width: 60%;
      }

      video {
        margin: 10px auto;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      Scripting Basics
    </header>
    <div id="contents">
      <section>
        <h1>Rendering a Script</h1>
        <p>
          The ray tracer comes with a built-in scripting language. This makes it possible
          to create new scenes or modify existing ones without having to recompile each time.
          The language (<a href="http://chaiscript.com/">ChaiScript</a>) also ought to be simpler
          to use than C++.
        </p>
        <p>
          In order to be able to render a script, we need to make some changes to ``app.cpp`` first,
          which is where the ``main`` function resides.
          By default, the ray tracer will render the ``basic_sample`` and write it away to file.
          Instead, you want it to process the command line arguments, so that when on the console, launching
          the ray tracer using raytracer ``-s <span style="font-style: italic;">script</span>``
          lets it read in <span style="font-style: italic;">script</span> and execute all its instructions.
        </p>
        <aside class="boxed2">
          <h1>Task</h1>
          <p>
            Perform the following steps:
          </p>
          <ul>
            <li>
              Open ``app.cpp`` and locate the ``main`` function. Remove the call to ``demos::basic_sample``,
              as we will make use of 3D Studio, which relies on command line arguments to communicate with the ray tracer.
              Recompile in release build.
            </li>
            <li>
              Configure 3D Studio so that it knows where to find ``raytracer.exe``. It should be located under ``raytracer/x64/Release``.
            </li>
            <li>
              Create a new script in 3D Studio. Give it the following contents:
              <%= source 'test.chai' %>
              Examine the script carefully. You should be able to understand what each line means.
            </li>
            <li>
              Render the script (F5).
            </li>
          </ul>
        </aside>
        <p>
          If all goes well, you should see the following animation:
        </p>
        <%= raytrace_movie 'test-ppm' %>
        <p>
          Is this what you expected to see? Make sure you understand why this is the correct animation.
        </p>
        <aside class="boxed2">
          <h1>Task</h1>
          <p>
            Adapt the script so that it produces the following animation:
          </p>
          <%= raytrace_movie 'exercise' %>
          <p>
            Some help may be required:
          </p>
          <ul>
            <li>
              You obviously need two spheres. Unions are created as follows: ``union( [ a, b, c ] )``
              where ``a``, ``b`` and ``c`` are the union's elements.
            </li>
            <li>
              Translation is done using ``translate(vec(x, y, z), primitive)``.
            </li>
            <li>
              To normalize a vector, you can invoke its ``normalized()`` function.
              For example: ``vec(1, 2, 3).normalized()``.
            </li>
          </ul>
          <p>
            <span style="font-weight: bold;">Hint</span> Even though the spheres appear to rotate, they are immobile. Rotation is not implemented yet anyway,
            and while you could implement rotation in the scripting language, no such advanced trickery is required.
          </p>
        </aside>
      </section>      
    </div>
  </body>

  <script>
    function initialize()
    {
      SourceEditor.initialize();
    }

    $( initialize );   
  </script>
</html>
