<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Quaternions</title>
    <%= stylesheets('3dcg', 'box2') %>
    <%= scripts('jquery', 'jquery-ui', 'underscore', 'ace/ace', 'source-editor') %>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      Quaternions
    </header>
    <div id="contents">
      <section>
        <h1>Explanation</h1>
        <p>
          You might want to read the <%= link 'reference/math/quaternions', 'detailed explanations' %> first.
        </p>
        <aside class="boxed2">
          <h1>Task</h1>
          <p>
            Implement the class ``Quaternion``. Following operations will be required:
          </p>
          <ul>
            <li>
              A constructor ``Quaternion(double a, double b, double c, double d)`` creating
              the quaternion $a + bi + cj + dk$.
            </li>
            <li>
              A static factory ``rotation(Angle theta, const Vector3D&amp; axis)`` creating a quaternion
              representing the rotation around the given axis by the given angle.
            </li>
            <li>
              A member function ``Point3D rotate(const Point3D&amp; p)`` which rotates ``p``.
            </li>
            <li>
              The member function ``conjugate``.
            </li>
            <li>
              The operators
              <ul>
                <li>``Quaternion + Quaternion``</li>
                <li>``Quaternion - Quaternion``</li>
                <li>``double * Quaternion``</li>
                <li>``Quaternion * double``</li>
                <li>``Quaternion * Quaternion``</li>
                <li>``Quaternion / double``</li>
                <li>``Quaternion += Quaternion``</li>
                <li>``Quaternion -= Quaternion``</li>
                <li>``Quaternion *= double``</li>
                <li>``Quaternion /= double``</li>                
              </ul>
            </li>
          </ul>
        </aside>       
      </section>      
    </div>
  </body>

  <script>
    function initialize()
    {
      SourceEditor.initialize();
    }

    $( initialize );   
  </script>
</html>
