<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Animations</title>
    <%= stylesheets('3dcg', 'box2') %>
    <%= scripts('jquery', 'jquery-ui', 'underscore', 'ace/ace', 'source-editor') %>
    <style>
      img.large {
        width: 80%;
      }

      table.centered {
        margin: 10px auto;
      }

      table th {
        width: 30%;
        text-align: left;
        background: #AAA;
        padding: 2px;
      }

      dt {
        font-weight: bold;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      Animations
    </header>
    <div id="contents">
      <section>
        <h1>Basic Types</h1>
        <p>
          An animation is, as is explained on this page regarding the <%= link 'reference/math/animations', 'mathematics behind animations' %>,
          a function which associates each moment in time with a value. This value can be of any type:
          <code>double</code>, <code>Angle</code>, <code>Point3D</code>, &hellip.
        </p>
        <p>
          The ray tracer's animation module has three types at its core:
        </p>
        <ul>
          <li>
            <code>Duration</code> models duration. This class is comparable to time spans. For example, "5 seconds" is
            a possible valus for <code>Duration</code>.
          </li>
          <li>
            <code>TimeStamp</code> represents a moment in time. You can compare this to a date or time of day, but a bit more abstract.
            An important <code>TimeStamp</code> value is the <em>zero time</em> $T_0$, also referred to as the <em>epoch</em>, which in essence corresponds to "the beginning of time".
            Animations will generally start at this moment. Other <code>TimeStamp</code> values are expressed as
            "time past since epoch". For example, an animation that takes 5 seconds starts at $T_0$ and ends at $T_0 + 5\mathrm{s}$.
          </li>
          <li>
            <code>Animation&lt;T&gt;</code> models an animation of a <code>T</code>. For example <code>Animation&lt;double&gt;</code>
            represents a <code>double</code> animation. 
          </li>
        </ul>
        <p>
          We take a detailed look at each in turn.
        </p>

        <section>
          <h2><code>Duration</code></h2>
          <p>
            <code>Duration</code> objects are created using factory functions:
          </p>
          <ul>
            <li>
              <code>Duration::zero()</code> creates a duration of 0 seconds.
            </li>
            <li>
              <code>Duration::infinite()</code> represents an infinitely long duration.
            </li>
            <li>
              <code>Duration::from_milliseconds(double)</code> and <code>Duration::from_seconds(double)</code>
              allow you to create <code>Duration</code>s from milliseconds and seconds, respectively.
            </li>
          </ul>
          <p>
            C++ allows us to define custom literals. These come in handy for durations.
            For example, say you want to create a <code>Duration</code> of 4 seconds,
            you can write <code>4_s</code>. It also works with milliseconds: <code>4000_ms</code>.
          </p>
          <p>
            Note that this only works with compile time constants: you cannot
            have some variable <code>x = 5</code> and then use <code>x_s</code> to
            create a <code>Duration</code> of 5 seconds. In this case,
            you have no other choice than to rely on a regular factory function (e.g. <code>TimeStamp::from_seconds(double)</code>.)
          </p>
          <p>
            Some standard operators have also been defined on durations, such as
            <code>+</code>, <code>-</code>, <code>*</code>, <code>/</code>, <code>&lt;</code>, <code>&gt;</code>, <code>&lt;=</code>,
            <code>&gt;=</code>, <code>==</code> and <code>!=</code>.
          </p>
        </section>

        <section>
          <h2><code>TimeStamp</code></h2>
          <p>
            
          </p>
        </section>

        <section>
          <h2><code>Animation&lt;T&gt;</code></h2>
          <p>
            <code>Animation&lt;T&gt;</code> represents an animation.
            Its most important member functions are
          </p>
          <ul>
            <li>
              <code>T operator() (TimeStamp)</code>: this allows you to ask the value at some time $T$. For example, say
              <code>anim</code> models a <code>double</code> animation from <code>0</code> to <code>1</code> taking 1 second.
              <ul>
                <li><code>anim(TimeStamp::zero())</code> returns <code>0</code>.</li>
                <li><code>anim(TimeStamp::zero() + 1_s)</code> returns <code>1</code>.</li>
                <li><code>anim(TimeStamp::zero() + 0.5_s)</code> returns <code>0.5</code>.</li>                  
              </ul>

            </li>
            <li>
            </li>
          </ul>
        </section>
        

      </section>
    </div>
  </body>
  <script>
    function initialize()
    {
      SourceEditor.initialize();
    }

    $( initialize );   
  </script>
</html>
