<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Animations</title>
    <%= stylesheets('3dcg', 'box2') %>
    <%= scripts('jquery', 'jquery-ui', 'underscore', 'ace/ace', 'source-editor') %>
    <style>
      img.large {
        width: 80%;
      }

      table.centered {
        margin: 10px auto;
      }

      table th {
        width: 30%;
        text-align: left;
        background: #AAA;
        padding: 2px;
      }

      dt {
        font-weight: bold;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      Animations
    </header>
    <div id="contents">
      <section>
        <h1>What is an Animation</h1>
        <p>
          An animation is "something" that changes in time. This something can be a simple <code>double</code>,
          an <code>Angle</code>, a <code>Point3D</code>, &hellip;
        </p>
        <p>
          Let us consider the most basic of animations: the <code>double</code> animation that
          goes from <code>0</code> to <code>1</code> in <code>1</code> second.
          If we are to visualize this, we would get:
        </p>
        <%= tex_image('double-animation', style:'width: 60%;') %>
        <p>
          The animation is actually a <em>function</em> mapping time values to <code>double</code> values.
          Let's denote this function with $X(t)$. We can translate the properties above to mathematical formulae:
          in the very beginning, the animated <code>double</code> should have value $0$. This is expressed by
          \[
            X(0) = 0
          \]
          Next, we know the animation takes 1 second to finish and that the <code>double</code>
          should have value $1$ at that time:
          \[
            X(1) = 1
          \]
        </p>
        <p>
          For simplicity, we assumed that the <code>double</code> moves "in a straight line" from <code>0</code> to <code>1</code>.
          Other possibilities would be
        </p>
        <table id="easing">
          <tbody>
            <tr>
              <td>
                <%= tex_image 'quad-in' %>
              </td>
              <td>
                <%= tex_image 'quad-out' %>
              </td>
              <td>
                <%= tex_image 'bounce' %>
              </td>
            </tr>
          </tbody>
        </table>
        <p>
          We deal with these variations on how to get from $a$ to $b$ <%= link 'reference/math/easing-functions', 'separately' %>.
        </p>
        <p>
          We need a mathematical expression for $X(t)$. It will be of the form $X(t) = m t + q$. The values for $m$ and $q$ can
          easily be deduced from the constraints $X(0) = a$ and $X(\Delta t) = b$:
          \[
            X(t) = a + \frac{b - a}{\Delta t} t
          \]
        </p>
      </section>
    </div>
  </body>
  <script>
    function initialize()
    {
      SourceEditor.initialize();
    }

    $( initialize );   
  </script>
</html>
