<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: 2D Cartesian Coordinate System</title>
    <%= stylesheets('3dcg', 'box2') %>
    <%= scripts('jquery', 'underscore') %>
    <style>
      img.large {
        width: 60%;
      }

      table.centered {
        margin-left: auto;
        margin-right: auto;
      }

      table.tabular {
        border-collapse; collapse;
      }

      table.tabular tr:first-child {
        background: #AAA;
      }

      table.tabular th {
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
      }

      table.tabular td {
        text-align: center;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      2D Cartesian Coordinate System)
    </header>
    <div id="contents">
      <section>
        <h1>Definition</h1>
        <p>
          In a 2D Cartesian coordinate system is defined by its origin point $O$ and two perpendicular axes $X$ and $Y$.
          The location of each point in the 2D plane can be expressed using coordinates $(x, y)$.
        </p>
        <%= tex_image '2d-cartesian' %>
      </section>
    </div>
  </body>

  <script>
    function initialize()
    {
    }

    $( initialize );    
  </script>

</html>
