<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Material Scaling 3D</title>
    <%= stylesheets('3dcg', 'box2') %>
    <%= scripts('jquery', 'jquery-ui', 'underscore', 'ace/ace', 'source-editor') %>
    <style>
      img.large {
        width: 60%;
      }

      video {
        margin: 10px auto;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>Material Scaling 3D</header>
    <div id="contents">
      <%= overview(prerequisites: ['materials/transformer3d'],
                   reading_material: ['math/transformations/3d/scaling'],
                   mutually_exclusive_with: ['materials/translation3d', 'materials/rotation3d']) %>
      <section>
        <h1>Preview</h1>
        <%= raytrace_movie 'demo' %>
      </section>
      <section>
        <h1>Implementation</h1>
        <aside class="boxed2">
          <h1>Task</h1>
          <p>
            Use <code>MaterialTransformer3D</code> to implement 3D material scaling.
            You may have to define extra classes in <code>math</code>.
            Hint: you'll need <code>Matrix4x4</code> in order to represent 3D transformations.
            Make sure to take a look around, some useful functionality might already be implemented.
          </p>
        </aside>
      </section>
    </div>
  </body>

  <script>
    function initialize()
    {
      SourceEditor.initialize();
    }

    $( initialize );   
  </script>
</html>
