<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Extensions Overview</title>
    <%= stylesheets('3dcg', 'box2') %>
    <%= scripts('jquery', 'jquery-ui', 'underscore') %>
    <style>
    </style>
  </head>

  <body>
    <header>
      Extensions
    </header>
    <div id="contents">
      <section>
        <%= generate_links_to_extensions %>
      </section>
    </div>
  </body>
</html>
