<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: 2D and 3D Materials</title>
    <%= stylesheets('3dcg', 'box2') %>
    <%= scripts('jquery', 'jquery-ui', 'underscore', 'ace/ace', 'source-editor') %>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      2D and 3D Materials
    </header>
    <div id="contents">
      <section>
        <h1>Explanation</h1>
        <p>
          We distinguish two kinds of materials: 2D and 3D materials.
        </p>

        <section>
          <h2>2D Materials</h2>
          <p>
            2D materials can be likened to paint which we attach to a primitive's surface.
            For example, <em>textures</em> are images that are used to wrap a primitive with.
            If we take a sphere
          </p>
          <%= raytrace 'sphere' %>
          <p>
            and apply the following texture to it
          </p>
          <%= raytrace 'texture' %>
          <p>
            we get
          </p>
          <%= raytrace_movie('sphere2d') %>
          <p>
            2D materials rely on uv-coordinates, i.e. a <%= link 'reference/math/coordinate-systems/cartesian2d/', 'Cartesian coordinate system' %>
            that describe where on the surface of a primitive the origin lies and where the X and Y axes lie.
          </p>
        </section>

        <section>
          <h2>3D Materials</h2>
          <p>
            Applying 3D materials is similar to taking a big block of that material and carving out the primitive.
          </p>
          <%= raytrace 'block' %>
          <p>
            Carving a sphere out of it yields
          </p>
          <%= raytrace_movie 'sphere3d' %>
          <p>
            In the case of a checkered pattern, the 2d version is clearly preferable. Generally, other 3d materials won't look as peculiar.
          </p>
          <p>
            One distinct advantage of 3D materials is that they are easier to implement as, in order to determine their
            color at a specific point, you need only xyz coordinates, which you already computed. There is no need to determine uv-coordinates.
          </p>
        </section>
      </section>      
    </div>
  </body>
  <script>
    function initialize()
    {
      SourceEditor.initialize();
    }

    $( initialize );   
  </script>
</html>
