<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Ray Tracer v4</title>
    <%= stylesheets('3dcg', 'box2') %>
    <%= scripts('jquery', 'jquery-ui', 'underscore', 'ace/ace', 'source-editor') %>
    <style>
      img.large {
        width: 60%;
      }

      video {
        margin: 10px auto;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      Ray Tracer v4
    </header>
    <div id="contents">
      <section>
        <%= overview(prerequisites: ['ray-tracers/v3'])  %>
        <h1>Preview</h1>
        <%= raytrace_movie 'demo' %>
        <%= source 'demo.chai' %>
      </section>
      <section>
        <h1>Implementation</h1>
        <p>
          Previous versions of the ray tracer added new lighting models (ambient, diffuse, specular highlights), but none
          took shadows into account. Now, to be fair, <%= link 'reference/lighting/ambient', 'ambient lighting' %>
          is not supposed to take into consideration shadows, as that would defeat the entire point.
          But there is no such excuse for diffuse lighting and specular highlights.
        </p>
        <p>
          Ray tracer v2 and v3 iterate over all light sources in the scene and
          determine the amount of light based on the incoming angle of the light, without checking
          whether this incoming light is not obstructed by something else in the scene.
        </p>
        <%= tex_image 'shadow-ray' %>
        <p>
          In the figure above, it is clear that $P$ cannot be illuminated by $L$ as the blue sphere blocks the photons.
          Fortunately, it is quite easy to detect that this is the case: we already have the necessary infrastructure
          in place to cast rays and find intersections with the scene. So, when computing the lighting effect of $L$ on $P$,
          we need only to check if the ray going through $L$ and $P$ hits the scene.
        </p>
        <p>
          However, we have to be careful not to be overzealous: $P$ is shadowed only if the hit occurs
          between $L$ and $P$. The ray through $L$ and $P$ also hits the red and green spheres, but these
          have no effect on whether $P$ is illuminated or not, as they are not located between $L$ and $P$.
        </p>
        <p>
          The easiest way to check if a hit occurs between $L$ and $P$ is to rely on the $t$-value of the hit.
          Say we want to determine whether photons can get from $L$ to $P$. We define a ray
          whose origin lies in $L$ and whose direction reaches from $L$ to $P$, i.e. we do <em>not</em> use
          a unit vector. We then get the following $t$-values:
        </p>
        <%= tex_image 't-value' %>
        <p>
          As you can see, by choosing the origin and direction carefully, finding out whether there's a shadow
          becomes quite simple.
        </p>
        <p>
          There's further good news: we don't even need to create this ray ourselves. Instead, we
          delegate this task to the light classes: whenever a light is asked for its light rays,
          it is its responsibility to create these rays in such a way that $t = 0$ coincides
          with the photon's origin and $t = 1$ to be equal to $P$.
        </p>
        <p>
          So, what do we actually need to do in ray tracer v4? Not much, really: we need only update
          <code>process_light_ray</code> so that it checks whether the given light ray
          intersects the scene at $t$ values between $0$ and $1$. If not, it can continue
          in the same way as v3 did, otherwise it returns black.
        </p>
        <aside class="boxed2">
          <h1>Task</h1>
          <p>
            Define the class <code>RayTracerV4</code> in its own set of files (<code>ray-tracer-v4.cpp</code> and <code>ray-tracer-v4.h</code>).
            Override <code>process_light_ray</code>:
          </p>
          <ul>
            <li>
              Find the intersection between the light ray and the scene.
            </li>
            <li>
              If there's a hit where $0 \leq t &lt; 1$, return black.
            </li>
            <li>
              Call <code>RayTracerV3::process_light_ray</code> and return its result.
            </li>
          </ul>
        </aside>
        <aside class="boxed2">
          <h1>Task</h1>
          <p>
            Integrate <code>RayTracerV4</code> with the rest of the ray tracer.
            Show off by creating a scene with shadows.
          </p>
        </aside>
      </section>
    </div>
  </body>

  <script>
    function initialize()
    {
      SourceEditor.initialize();
    }

    $( initialize );   
  </script>
</html>
