<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Depth of Field</title>
    <%= stylesheets('ucll', 'imgslider') %>
    <%= scripts('jquery', 'jquery-ui', 'underscore', 'ace/ace', 'source-editor', 'imgslider') %>
    <style>
      img.large {
        width: 60%;
      }
      
     .slider {
        width: 80%;
        margin: 0px auto;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      <div class="center-vertically">Depth of Field</div>
    </header>
    <div id="contents">
      <section>
        <h1>Explanation</h1>
        <section>
          <h2>Single Pinhole Cameras</h2>
          <p>
            As explained in <%= link 'ray-tracing', 'the perspective camera' %> (the default camera)
            simulates a pinhole camera, which is a camera that only allows photons that travel
            through a very small photon-sized hole to reach the screen. This produces a perfectly crisp image.
          </p>
          <%= raytrace 'single-pinhole' %>
          <p>
            In an ideal world, our eyes would be pinhole cameras, i.e. our pupils would be one photon wide.
            However, our photon detectors at the back of our eyes (the retina) are far from perfect: they need a minimal amount of photons to arrive
            each second so as to be able to form a clear image. A pinhole-sized pupil would not let enough photons in.
            The only solution is to enlarge the pupil, thereby letting more photons in.
          </p>
        </section>
        <section>
          <h2>Dual Pinhole Camera</h2>
          <p>
            Let's say, for the sake of explanation, that evolution, upon remarking that a pinhole pupil
            will not do, decides to equip us with a second pinhole pupil in the same eye.
          </p>
          <table style="width: 80%; margin: 10px auto;">
            <tbody>
              <tr>
                <td><%= tex_image 'one-pinhole-diagram' %></td>
                <td><%= tex_image 'two-pinholes-diagram' %></td>              
              </tr>
            </tbody>
          </table>
          <p>
            This has as consequence that there are two images being projected onto our retina.
            These two images are almost identical, except for the fact that both images view
            the same scene from slightly different angles. Below are two renderings showing the two
            images that reach the retina. For clarity, the distance between the two pinholes has been greatly exaggerated.
          </p>
          <table style="width: 80%; margin: 10px auto;">
            <tbody>
              <tr>
                <td><%= raytrace('left-pinhole', style: 'width: 100%;') %></td>
                <td><%= raytrace('right-pinhole', style: 'width: 100%;') %></td>
              </tr>
            </tbody>
          </table>
          <p>
            These two images are blended together:
          </p>
          <%= raytrace('two-pinholes', style: 'width: 80%;') %>
        </section>
        <section>
          <h2>Multi Pinhole Camera</h2>
          <p>
            Let's add two more pinholes. Four distinct images get projected onto the retina:
          </p>
          <table style="width: 80%; margin: 10px auto;">
            <tbody>
              <tr>
                <td><%= raytrace('ul-pinhole', style: 'width: 100%; padding: 0px;') %></td>
                <td><%= raytrace('ur-pinhole', style: 'width: 100%; padding: 0px;') %></td>
              </tr>
              <tr>
                <td><%= raytrace('ll-pinhole', style: 'width: 100%; padding: 0px;') %></td>
                <td><%= raytrace('lr-pinhole', style: 'width: 100%; padding: 0px;') %></td>
              </tr>
            </tbody>
          </table>
          <p>
            Combining these four images yields
          </p>
          <%= raytrace('four-pinholes', style: 'width: 80%;') %>
          <p>
            If we add many more small pinholes, ultimately forming the pupil as we know it,
            we get as result
          </p>
          <%= raytrace('many-pinholes', style: 'width: 80%;') %>
          <p>
            Remember though that we spread the pinholes over an exaggeratedly large area,
            making the sphere in the back look a lot more blurred than it should be.
            If we shrink the pinhole area to a more reasonable size, we get
          </p>
          <%= raytrace('many-pinholes-better', style: 'width: 80%;') %>
          <p>
            Each pinhole corresponds to a perspective camera.
            The more pinholes we introduce, the more images are added together,
            creating a blurred result.
          </p>
        </section>
        <section>
          <h2>Focus</h2>
          <p>
            We have overlooked an important detail though: why is the front sphere
            looking that much less blurry than the one in the back? This has to do
            with the lens in our eye, which bends light so as to try to "unblurify"
            the image. However, this is impossible to do without making any concessions:
            the lens can only make objects at the same distance crisp at the same time.
            So, you can either focus on the objects closeby (making far away objects blurred),
            or you can choose to focus on distant objects (thereby making close objects blurred.')
          </p>
          <p>
            In order to define a depth of field camera, we do not need to simulate this lens
            Instead, a simpler method exists. We create a separate perspective camera at each
            pinhole position, but we put the <code>look_at</code> on the point we want to focus on:
          </p>
          <table style="width: 50%; margin: 10px auto;">
            <tbody>
              <tr>
                <td><%= tex_image('lookat_close', style: 'width: 100%;') %></td>
                <td><%= tex_image('lookat_far', style: 'width: 100%;') %></td>
              </tr>
            </tbody>
          </table>
          <p>
            In summary, to create a depth of field camera with the eye at $E$, looking
            at position $P$ (which should be in focus),          
            you need to create multiple perspective cameras. These cameras share
            the same <code>look_at</code> $P$, but differ slightly in $E$.
            The larger the eye positions differ, the more pronounced the blur becomes
            for objects out of focus.
          </p>
        </section>
      </section>
      <section>
        <h1>Comparisons</h1>
        <section>
          <h2><code>look_at</code></h2>
          <p>
            Below you can compare what happens when you create depth of field cameras
            for a different <code>look_at</code> positions:
          </p>
          <%= raytrace_comparison 'close-focal-point', 'far-focal-point' %>
        </section>

        <section>
          <h2>Eye area</h2>
          <p>
            Below you can compare what happens when you create depth of field cameras
            whose multiple pinholes are spread over differently sized areas.
            The larger the "eye area", the more blurry out of focus shapes become.
          </p>
          <%= raytrace_comparison 'small-eye', 'large-eye' %>
        </section>
      </section>
    </div>
  </body>
  <script>
    function initialize()
    {
      SourceEditor.initialize();
      $('.slider').slider( { showInstruction: false } );
    }

    $( initialize );   
  </script>
</html>
