<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: 2D Translation</title>
    <%= stylesheets('ucll', 'box2') %>
    <%= scripts('jquery', 'underscore') %>
    <style>
      img.large {
        width: 60%;
      }

      table.centered {
        margin-left: auto;
        margin-right: auto;
      }

      table.tabular {
        border-collapse; collapse;
      }

      table.tabular tr:first-child {
        background: #AAA;
      }

      table.tabular th {
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
      }

      table.tabular td {
        text-align: center;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>3D Scaling</header>
    <div id="contents">
      <section>
        <h1>Mathematics</h1>
          <p>
            Scaling a point with <%= link 'reference/math/homogeneous-coordinates', 'homogeneous coordinates' %> $(x, y, z, w)$ by factors $s_\mathrm{x}$, $s_\mathrm{y}$ and $s_\mathrm{z}$ along the X-, Y- and Z-axis,
            respectively, is achieved by the following matrix multiplication:
            \[
              \begin{bmatrix}
                s_\mathrm{x} & 0 & 0 & 0 \\
                0 & s_\mathrm{y} & 0 & 0 \\
                0 & 0 & s_\mathrm{z} & 0 \\
                0 & 0 & 0 & 1 \\
              \end{bmatrix}
              \cdot
              \begin{bmatrix}
                x \\
                y \\
                z \\
                w \\
              \end{bmatrix}
            \]
          </p>
      </section>
    </div>
  </body>
</html>
