<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Points and Vectors</title>
    <%= stylesheets('ucll', 'box') %>
    <%= scripts('jquery', 'underscore', 'box') %>
    <style>
      img.large {
        width: 60%;
      }

      table.centered {
        margin-left: auto;
        margin-right: auto;
      }

      table.tabular {
        border-collapse; collapse;
      }

      table.tabular tr:first-child {
        background: #AAA;
      }

      table.tabular th {
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
      }

      table.tabular td {
        text-align: center;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      <div class="center-vertically">Points and Vectors</div>
    </header>
    <div id="contents">
      <section>
        <h1>Definition</h1>
        <p>
          A <em>point</em> is an infinitely small "dot" whose sole characteristic is its location in space.
          Two points at the same location are considered to be the same.
        </p>
        <p>
          A <em>vector</em> is the difference between two points.
        </p>
        <p>
          To differentiate between points and vectors, we'll also use different naming conventions.
          Point names will consist of a single capital letter ($P$, $Q$, $P_1$, &hellip;),
          whereas vector shall be denoted using lowercase letters hatted with a fashionable arrow ($\vec u$, $\vec v$, &hellip;).
        <section>
          <h2>Analogy</h2>
          <p>
            Let us pick two numbers at random, say 5 and 9. If we wish to compute their difference, or the "distance" between them,
            we can subtract them, giving us 4, which is again a number. This means the difference between two numbers is a number.
          </p>
          <p>
            Let us now pick two dates: 8 September 2000 and 18 September 2000. What is the "distance" between them?
            The difference is 10 <em>days</em>, which is obviously not a date. We can never express the
            difference between two dates as a new date: it makes no sense. Instead, the difference between
            two dates is a <em>time span</em>, or a <em>duration</em>.
          </p>
          <p>
            A date is generally represented by three numbers, written day/month/year.
            A duration can be represented similarly: #days/#months/#years.
            So we could say that the difference between dates 8/9/2000 and 18/9/2000 is 10/0/0.
            Even though dates and durations can be expressed using three numbers, it is clearly
            absurd to interpret 10/0/0 as a date.
          </p>
          <p>
            The same goes with points and vectors. A point corresponds to a date, whereas vectors
            correspond to durations. Given two points (4, 1, 9) and (4, 7, 6), the difference
            between them is the <em>vector</em> (0, 6, -3).
          </p>
        </section>

        <section>
          <h2>Specifying Points and Vectors</h2>
          <p>
            Both points and vectors can be specified using coordinates. There are many different coordinate systems.
          </p>
          <ul>
            <li>            
              <%= link 'reference/math/coordinate-systems/cartesian2d', '2D Cartesian' %>
            </li>
            <li>
              <%= link 'reference/math/coordinate-systems/polar', 'Polar' %>
            </li>
            <li>
              <%= link 'reference/math/coordinate-systems/cartesian3d', '3D Cartesian' %>
            </li>
            <li>
              <%= link 'reference/math/coordinate-systems/spherical', 'Spherical' %>
            </li>
          </ul>
        </section>

        <section>
          <h2>Visualization</h2>
          <p>
            Visually, a point is represented by a dot and a vector is by an arrow.
          </p>
          <%= tex_image('visualization', html_class: 'centered') %>
          <p>
            Here, $\vec v$ equals the difference between $P$ and $Q$: $\vec v=Q-P$.
          <p>
            Realize that only the length, orientation and direction of the arrow have significance.
            All arrows below represent the same vector.
          </p>
          <%= tex_image('equal-vectors', html_class: 'centered') %>          
        </section>
      </section>
      <section>
        <h1>Operations on Points and Vectors</h1>
        <p>
          You are (hopefully) familiar with real numbers and the operators defined on them, such
          as addition, subtraction, multiplication, division, square root, etc. Similar operations are defined on points and vectors.
          However, you have to be careful to notice that not all combinations are permitted.
          For example, you can add two vectors, but you cannot add two points together.
        </p>

        <section>
          <h2>Addition</h2>
          <p>
            Following additions are defined:
          </p>
          <table class="tabular centered">
            <tbody>
              <tr>
                <th>Left operand</th>
                <th>+</th>
                <th>Right operand</th>
                <th>=</th>
                <th>Result</th>
              </tr>
              <tr>
                <td>Vector</td>
                <td>+</td>
                <td>Vector</td>
                <td>=</td>
                <td>Vector</td>
              </tr>
              <tr>
                <td>Point</td>
                <td>+</td>
                <td>Vector</td>
                <td>=</td>
                <td>Point</td>
              </tr>
              <tr>
                <td>Vector</td>
                <td>+</td>
                <td>Point</td>
                <td>=</td>
                <td>Point</td>
              </tr>
            </tbody>
          </table>
          <p>
            The addition can be computed using the following formula:
            \[
              \begin{array}{rclclr}
                (x_1, y_1) &amp; + &amp; (x_2, y_2) &amp; = &amp; (x_1 + x_2, y_1 + y_2) &amp; \qquad\mathrm{(2D)} \\
                (x_1, y_1, z_1) &amp; + &amp; (x_2, y_2, z_2) &amp; = &amp; (x_1 + x_2, y_1 + y_2, z_1 + z_2) &amp; \qquad\mathrm{(3D)}
              \end{array}
            \]
          </p>
          <p>
            The addition of two vectors corresponds to the combination of both displacements they represent.
          </p>
          <%= tex_image('vector-plus-vector', style:'width: 25%;') %>
          <p>
            The addition of a point $P$ and a vector $\vec v$ corresponds to the displacement of $P$ in the direction designated by $v$.
          </p>
          <%= tex_image('point-plus-vector', style:'width: 50%;') %>          
          <p>
            Notice that you <em>cannot</em> add two points together.
          </p>
          <p>
            If you need to add points and vectors described in polar or spherical coordinates,
            you have to <%= link 'reference/math/coordinate-systems/conversions', 'convert these into Cartesian coordinates first' %>.
          </p>
        </section>

        <section>
          <h2>Subtraction</h2>
          <p>
            Subtraction is quite similar to addition. Again, take care of noticing
            which combinations of operands are allowed. The formula is what you would
            expect it to be:
            \[
              \begin{array}{rclclr}
                (x_1, y_1) &amp; - &amp; (x_2, y_2) &amp; = &amp; (x_1 - x_2, y_1 - y_2) &amp; \qquad\mathrm{(2D)} \\
                (x_1, y_1, z_1) &amp; - &amp; (x_2, y_2, z_2) &amp; = &amp; (x_1 - x_2, y_1 - y_2, z_1 - z_2) &amp; \qquad\mathrm{(3D)}
              \end{array}
            \]
          </p>
          <p>
            Following operands are allowed:
          </p>
          <table class="tabular centered">
            <tbody>
              <tr>
                <th>Left operand</th>
                <th>-</th>
                <th>Right operand</th>
                <th>=</th>
                <th>Result</th>
              </tr>
              <tr>
                <td>Point</td>
                <td>-</td>
                <td>Point</td>
                <td>=</td>
                <td>Vector</td>
              </tr>
              <tr>
                <td>Point</td>
                <td>-</td>
                <td>Vector</td>
                <td>=</td>
                <td>Point</td>
              </tr>
              <tr>
                <td>Vector</td>
                <td>-</td>
                <td>Vector</td>
                <td>=</td>
                <td>Vector</td>
              </tr>
            </tbody>
          </table>
          <p>
            Point subtraction deserves a special mention: we'll often rely on it to find the difference between points.
            The vector representing the difference between a point $P$ and a point $Q$ equals $Q - P$.
          </p>
          <p>
            The order is important: $Q - P$ will bring you from $P$ to $Q$, whereas $P - Q$ will take you from $Q$ to $P$.
            You can easily see this using the following math:
            \[
              P + (Q - P) = P + Q - P = P - P + Q = Q
            \]
            whereas
            \[
              P + (P - Q)
            \]
            cannot be simplified any further. $P + P - Q = (P + P) - Q = 2 \cdot P - Q$ is not correct: it involves adding
            two points together, which is undefined.
          </p>
        </section>

        <section>
          <h2>Multiplication and Division</h2>
          <p>
            Multiplication is a bit more complex than addition and subtraction, as there are more possibilities.
            Vectors can both be multiplied by scalars (numbers) and other vectors. When multiplying vectors,
            there are two different ways of multiplying: the <%= link 'reference/math/dot-product', 'dot product' %> with symbol $\cdot$
            and the <%= link 'reference/math/cross-product', 'cross product' %> with symbol $\times$.
          </p>
          <table class="tabular centered">
            <tbody>
              <tr>
                <th>Left operand</th>
                <th></th>
                <th>Right operand</th>
                <th>=</th>
                <th>Result</th>
              </tr>
              <tr>
                <td>Vector</td>
                <td>&middot;</td>
                <td>Vector</td>
                <td>=</td>
                <td>Scalar</td>
              </tr>
              <tr>
                <td>Vector</td>
                <td>&times;</td>
                <td>Vector</td>
                <td>=</td>
                <td>Vector</td>
              </tr>
              <tr>
                <td>Vector</td>
                <td>&middot;</td>
                <td>Scalar</td>
                <td>=</td>
                <td>Vector</td>
              </tr>
              <tr>
                <td>Scalar</td>
                <td>&middot;</td>
                <td>Vector</td>
                <td>=</td>
                <td>Vector</td>
              </tr>
              <tr>
                <td>Vector</td>
                <td>/</td>
                <td>Scalar</td>
                <td>=</td>
                <td>Vector</td>
              </tr>
            </tbody>
          </table>
          
          <section>
            <h3>Multiplication and Division By Scalars</h3>
            <p>
              Scalar is just a fancy name for "a number".
              Multiplying a vector $(x, y, z)$ with a scalar $c$, written $(x, y, z) \cdot c$, results in a new vector:
              \[
                (x, y, z) \cdot c = c \cdot (x, y, z) = (c \cdot x, c \cdot y, c \cdot z)
              \]
              i.e. you multiply each coordinate with the scalar.
            </p>
            <p>
              Multiplication of a vector corresponds to lengthening (or shortening) the vector.
            </p>
            <%= tex_image 'vector-multiplication' %>
            <p>
              Notice the following:
            </p>
            <ul>
              <li>
                Multiplying a vector by a scalar whose absolute value is greater than 1 lengthens the vector.
              </li>
              <li>
                Multiplying a vector by a scalar whose absolute value is less than 1 shortens the vector.
              </li>
              <li>
                Multiplying a vector by a negative number flips the vector around.
              </li>
            </ul>
            <p>
              It is also possible to divide a vector by a scalar:
              \[
                \frac{\vec v}{c} = \vec v \cdot \frac1c
              \]
              In other words, dividing a vector by 2 is the same as multiplying it by 1/2.
            </p>
          </section>

          <section>
            <h3>Multiplication With Two Vector Operands</h3>
            <p>
              As mentioned above, there are two ways to multiply two vectors: $\vec u \cdot \vec v$ and $\vec u \times \vec v$.
              Both these multiplications are important enough to deserve having their own page.
            </p>
            <ul>
              <li><%= link 'reference/math/dot-product', 'Dot product' %></li>
              <li><%= link 'reference/math/cross-product', 'Cross product' %></li>
            </ul>
          </section>
        </section>

        <section>
          <h3>Norm of a Vector</h3>
          <p>
            The <em>norm</em>, <em>size</em> or <em>length</em> of a vector $\vec v(x, y, z)$ can be computed with the follow formula:
            \[
              |\vec v| = \sqrt{x^2 + y^2 + z^2}
            \]
          </p>
          <p>
            To find the distance between two points $P$ and $Q$, take the length of their difference:
            \[
              \mathrm{distance}(P, Q) = |Q-P|
            \]
          </p>
        </section>
      </section>
    </div>
  </body>

  <script>
    function initialize()
    {
      Box.initialize();
    }

    $( initialize );    
  </script>

</html>
