<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Directional Light</title>
    <%= stylesheets('3dcg', 'box2') %>
    <%= scripts('jquery', 'jquery-ui', 'underscore', 'ace/ace', 'source-editor') %>
    <style>
      img.large {
        width: 60%;
      }

      video {
        margin: 10px auto;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      Directional Light
    </header>
    <div id="contents">
      <%= overview(prerequisites: ['ray-tracers/v2'], reading_material: ['lights/directional']) %>
      <section>
        <h1>Preview</h1>
        <%= raytrace_movie 'demo' %>
        <%= source 'demo.chai' %>
      </section>
      <section>
        <h1>Implementation</h1>
        <p>
          First, read the <%= link 'reference/lights/directional', 'conceptual explanation of directional lights' %>.
        </p>
        <aside class="boxed2">
          <h1>Task</h1>
          <p>
            Create a ``lights/directional-light.cpp`` and ``lights/directional-light.h``.
          </p>
        </aside>
        <p>
          A directional light has the following parameters:
        </p>
        <ul>
          <li>
            A direction (``Vector3D``) indicating where the light comes from.
          </li>
          <li>
            A color.
          </li>
        </ul>
        <aside class="boxed2">
          <h1>Task</h1>
          <p>
            Write the class ``DirectionalLight`` in ``directional-light.cpp`` in an <%= link 'reference/cpp/anonymous-namespace', 'anonymous namespace' %>
          </p>
          <ul>
            <li>
              The class should subclass ``LightSourceImplementation``.
            </li>
            <li>
              It has two member variables: ``direction`` and ``color``.
            </li>
            <li>
              The constructor should take a ``direction`` and ``color`` parameter
              and use them to initialize the member variables.
            </li>
            <li>
              The class needs to override the method ``lightrays_to``.
              This method receives a ``Point3D p`` for which it is asked
              which light rays it shines onto that point. A directional light need only
              produce a single light ray per such point. Find out for yourself which light ray it needs to generate.
            </li>
          </ul>
        </aside>
        <aside class="boxed2">
          <h1>Task</h1>
          <ul>
            <li>
              Add a declaration for the factory function named ``directional`` in the header file. Put
              it in the namespace ``raytracers::lights``.
            </li>
            <li>
              Add the definition for the factory function in the ``cpp`` file. Take
              a look at the factory function for omnidirectional point lights for inspiration.
            </li>
            <li>
              Add the directional light to ``lights/lights.h``.
            </li>
            <li>
              Open ``scripting/lights-module.cpp``. Add an extra member function ``directional`` to ``LightLibrary``.
              Add an extra binding in ``create_lights_module``.
            </li>
            <li>
              As always, check your work by rendering a scene using the directional light.
            </li>
          </ul>
        </aside>
      </section>
    </div>
  </body>

  <script>
    function initialize()
    {
      SourceEditor.initialize();
    }

    $( initialize );   
  </script>
</html>
