<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Parallel Task Scheduler</title>
    <%= stylesheets('3dcg', 'box2') %>
    <%= scripts('jquery', 'jquery-ui', 'underscore', 'ace/ace', 'source-editor') %>
    <style>
      img.large {
        width: 60%;
      }

      video {
        margin: 10px auto;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      Parallel Task Scheduler
    </header>
    <div id="contents">
      <%= overview(reading_material: ['design/wrappers'] ) %>
      <section>
        <h1>Concepts</h1>

        <section>
          <h2>Tasks</h2>
          <p>
            In order to facilitate the implementation of a multithreaded ray tracer, we introduced
            the concept of <em>tasks</em>. A task is an independent unit of work. Two tasks
            should be able to be performed in any order without it affecting the results.
          </p>
          <p>
            Tasks are modelled by the <code>Task</code> class, declared in <code>tasks/tasks.h</code>.
            This class defines a single method <code>perform</code>.
          </p>
        </section>

        <section>
          <h2>Task Schedulers</h2>
          <p>
            A <em>task scheduler</em> takes a list of tasks and performs each of them.
            No guarantees are made about the order in which it performs them.
          </p>
          <p>
            Task schedulers are modelled by the <code>TaskSchedulerImplementation</code>
            (and <%= link 'reference/design/wrappers', 'wrapped' %> by <code>TaskScheduler</code>s.
            They only provide one method: <code>perform</code>, which takes a list of tasks.
          </p>
        </section>

        <section>
          <h2>Serial Task Scheduler</h2>
          <p>
            You were given <code>SerialTaskScheduler</code>, a task scheduler
            that performs the tasks in sequential order. Take a look at the code
            in <code>tasks/serial-task-scheduler.cpp</code>: you'll see that
            it is nothing but a loop.
          </p>
        </section>

        <section>
          <h2>Parallel Task Scheduler</h2>
          <p>
            The purpose of this extension is to implement <code>ParallelTaskScheduler</code>.
            Its <code>perform</code> method should create multiple threads and
            divide the tasks among them.
          </p>
          <aside class="boxed2">
            <h1>Task</h1>
            <p>
              Implement <code>ParallelTaskScheduler</code>. It needs to give the following guarantees:
            </p>
            <ul>
              <li>
                All given tasks must be performed exactly once.
              </li>
              <li>
                When the scheduler's <code>perform</code> method returns, all tasks have to be performed.
              </li>
            </ul>
            <p>
              Since the tasks are independent, you do not need to perform any synchronization on their behalf.
              A class that might come in handy is <a href="http://en.cppreference.com/w/cpp/atomic/atomic">atomic</a>,
              but many other approaches are possible too.
            </p>
          </aside>
        </section>
        
      </section>      
    </div>
  </body>

  <script>
    function initialize()
    {
      SourceEditor.initialize();
    }

    $( initialize );   
  </script>
</html>
