<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Polar Coordinate System</title>
    <%= stylesheets('3dcg', 'box2') %>
    <%= scripts('jquery', 'underscore') %>
    <style>
      img.large {
        width: 60%;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      Polar Coordinate System
    </header>
    <div id="contents">
      <section>
        <h1>Definition</h1>
        <p>
          Polar coordinates specify a position of some point $P$ using an angle $\theta$ and a radius $r$.
          <ul>
            <li>
              The $\theta$ designated the angle between the $X$ axis and $OP$.
            </li>
            <li>
              The radius $r$ equals the distance between the origin $O$ and the point $P$.
            </li>
          </ul>
        </p>
        <%= tex_image 'polar' %>
      </section>
    </div>
  </body>

  <script>
    function initialize()
    {
    }

    $( initialize );    
  </script>

</html>
