<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Bounding Box Accelerator</title>
    <%= stylesheets('3dcg', 'box2') %>
    <%= scripts('jquery', 'jquery-ui', 'underscore', 'ace/ace', 'source-editor') %>
    <style>
      img.large {
        width: 60%;
      }

      video {
        margin: 10px auto;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      Bounding Box Accelerator
    </header>
    <div id="contents">
      <%= overview(prerequisites: [],
                   reading_material: ['primitives/bounding-box-accelerator'],
                   mutually_exclusive_with: []) %>
      <section>
        <h1>Implementation</h1>
        <aside class="boxed2">
          <h1>Task</h1>
          <ul>
            <li>
              Add the necessary files to the project.
            </li>
            <li>
              Define a new ``PrimitiveImplementation`` subclass.
              <ul>
                <li>
                  Its constructor should accept a ``Primitive``, which it stores.
                </li>
                <li>
                  The constructor should also ask for the child's bounding box and store it
                  in a member variable so as to only have to generate it once.
                </li>
                <li>
                  Implement ``find_all_hits`` as described in the reading material (see overview above.)
                </li>
              </ul>
            </li>
            <li>
              Define a factory method ``Primitive raytracer::primitives::bounding_box_accelerator(Primitive)``.
            </li>
          </ul>
        </aside>
      </section>
    </div>
  </body>

  <script>
    function initialize()
    {
      SourceEditor.initialize();
    }

    $( initialize );   
  </script>
</html>
