<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: File Organization</title>
    <%= stylesheets('3dcg', 'box2') %>
    <%= scripts('jquery', 'jquery-ui', 'underscore', 'ace/ace', 'source-editor') %>
    <style>
      img.large {
        width: 60%;
      }

      table.centered {
        margin: 10px auto;
      }

      table {
        border: 1px solid black;
      }

      table td {
        padding-right: 1em;
      }

      table th {
        text-align: left;
        background: #AAA;
        margin: 0.2em 1em;
      }

      dt {
        font-weight: bold;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      File Organization
    </header>
    <div id="contents">
      <section>
        <h1>File Organization</h1>
        <p>
          The ray tracer is built out of many different modules.
          Each module is placed in its own subdirectory and its members (classes, functions)
          reside in a separate namespace, akin to Java packages.
        </p>
        <p>
          A module exposes only the bare minimum to the outside world.
          You can compare this to a class: a class has to hide as much
          as possible from its users, only making public what is truly necessary.
          The less it makes public, the more it can change things internally afterwards.
          You can apply the same principle to groups of classes:
          some classes are meant to be seen by people outside the module,
          but most should stay hidden as they are merely implementation detail.
          You can compare this with the module having a "public facade".
        </p>

        <section>
          <h2>Example: the Primitives Module</h2>
          <p>
            For example, the ``primitives`` module
            lets you create geometric shapes such as spheres, planes, triangles, &hellip;
            Internally, a sphere is implemented as a class,
            but the module wants to hide this detail. Instead,
            only an abstract type ``Primitive`` is made public
            and a factory function which lets you create a sphere.
            So, outside the ``primitives`` module,
            you are limited to writing ``Primitive primitive = sphere();``
            You cannot directly create a Sphere-object (i.e. no ``new Sphere()``),
            and you cannot access ``Sphere``-specific methods.
          </p>
          <p>
            Each member of the ``primitives`` module resides in its pair of ``.h``/``.cpp`` files:
          </p>
          <table class="centered">
            <thead>
              <tr>
                <th>Primitive</th>
                <th>.h file</th>
                <th>.h file</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Sphere</td>
                <td>``primitives/sphere-primitive.h``</td>
                <td>``primitives/sphere-primitive.cpp``</td>
              </tr>
              <tr>
                <td>Plane</td>
                <td>``primitives/plane-primitive.h``</td>
                <td>``primitives/plane-primitive.cpp``</td>
              </tr>
              <tr>
                <td>Cube</td>
                <td>``primitives/cube-primitive.h``</td>
                <td>``primitives/cube-primitive.cpp``</td>
              </tr>
              <tr>
                <td>Decorator</td>
                <td>``primitives/decorator-primitive.h``</td>
                <td>``primitives/decorator-primitive.cpp``</td>
              </tr>
            </tbody>
          </table>
          <p>
            The ``.cpp`` file contains the implementation details. The ``.h`` file
            determines what is made public. Generally, each ``.h`` only exposes factory functions:
          </p>
          <table class="centered">
            <thead>
              <tr>
                <th>.h file</th>
                <th>Exposes</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>primitives/sphere.h</td>
                <td>``Primitive raytracer::primitives::sphere()``</td>
              </tr>
              <tr>
                <td>primitives/plane.h</td>
                <td>``Primitive raytracer::primitives::xy_plane()``</td>
              </tr>
              <tr>
                <td></td>
                <td>``Primitive raytracer::primitives::xz_plane()``</td>
              </tr>
              <tr>
                <td></td>
                <td>``Primitive raytracer::primitives::yz_plane()``</td>
              </tr>
              <tr>
                <td>primitives/cube.h</td>
                <td>``Primitive raytracer::primitives::cube()``</td>
              </tr>
              <tr>
                <td>primitives/decorator.h</td>
                <td>``Primitive raytracer::primitives::decorator(Material, Primitive)``</td>
              </tr>
            </tbody>
          </table>
          <p>
            Say you're writing code that relies on spheres, planes and decorators. You would
            have to ``#include`` their respective header files. Most probably
            you will need other classes too, such as materials, lights, cameras, meaning
            you'd have more ``#include``-ing to do. This can become bothersome
            quite quickly, which is why modules generally also offer a separate header file
            that includes all other header files from the module.
          </p>
          <p>
            For example, the ``primitives`` module provides you with
            ``primitives/primitives.h``, which is nothing more than a list of includes:
          </p>
          <%= source 'primitives.h' %>
          <p>
            So, instead of having to ``#include`` every primitive, material, light and camera
            separately, you can just ``#include`` ``primitives/primitives.h``,
            ``materials/materials.h``, ``lights/lights.h`` and ``camera/cameras.h``.
          </p>
        </section>

        <section>
          <h2>Overview of Modules</h2>
          <p>
            Here's an incomplete list of the modules:
          </p>
          <table class="centered">
            <thead>
              <tr>
                <th>Module name</th>
                <th>Files location</th>
                <th>Namespace</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Animation</td>
                <td>animation/</td>
                <td>``animation``</td>
              </tr>
              <tr>
                <td>Cameras</td>
                <td>cameras/</td>
                <td>``raytracer::cameras``</td>
              </tr>
              <tr>
                <td>Light</td>
                <td>lights/</td>
                <td>``raytracer::lights``</td>
              </tr>
              <tr>
                <td>Primitives</td>
                <td>primitives/</td>
                <td>``raytracer::primitives``</td>
              </tr>
              <tr>
                <td>Ray tracers</td>
                <td>raytracers/</td>
                <td>``raytracer::raytracers``</td>
              </tr>
              <tr>
                <td>Renderers</td>
                <td>renderers/</td>
                <td>``raytracer::renderers``</td>
              </tr>
              <tr>
                <td>Scripting</td>
                <td>scripting/</td>
                <td>``raytracer::scripting``</td>
              </tr>
            </tbody>
          </table>
        </section>
      </section>
    </div>
  </body>
  <script>
    function initialize()
    {
      SourceEditor.initialize();
    }

    $( initialize );   
  </script>
</html>
