<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Bounce Animation</title>
    <%= stylesheets('3dcg', 'box2') %>
    <%= scripts('jquery', 'jquery-ui', 'underscore', 'ace/ace', 'source-editor') %>
    <style>
      img.large {
        width: 60%;
      }

      video {
        margin: 10px auto;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      Bounce Animation
    </header>
    <div id="contents">
      <%= overview(mutually_exclusive_with: ['animations/elastic'], reading_material: ['math/animations', 'design/animations/basics']) %>
      <section>
        <h1>Preview</h1>
        <%= raytrace_movie 'demo' %>
        <%= source 'demo.chai' %>
      </section>
      <section>
        <h1>Implementation</h1>
        <p>
          The bounce animation looks as follows:
        </p>
        <%= tex_image 'graph' %>
        <p>
          The animation can be parameterized in two ways:
        </p>
        <ul>
          <li>
            Number of bounces
            <%= tex_image 'bounces' %>
          </li>
          <li>
            Bounce absorption
            <%= tex_image 'absorption' %>
          </li>
        </ul>
        <aside class="boxed2">
          <h1>Task</h1>
          <p>
            Create files <code>math/functions/easing/bounce-easing-function.cpp/.h</code>.
            Use <code>linear-easing-function.h/.cpp</code> as a guide. You'll need to find the formula yourself.
          </p>
          <p>
            Don't forget to add a binding for the scripting language. Update <code>scripting/math-module</code> by adding an extra <code>IMPORT</code> to
            the <code>EasingLibrary</code> and an extra <code>BIND</code> to <code>add_easing</code>.
          </p>
        </aside>
      </section>
    </div>
  </body>

  <script>
    function initialize()
    {
      SourceEditor.initialize();
    }

    $( initialize );   
  </script>
</html>
