<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Rays</title>
    <%= stylesheets('3dcg', 'box2') %>
    <%= scripts('jquery', 'jquery-ui', 'underscore', 'ace/ace', 'source-editor') %>
    <style>
      img.large {
        width: 60%;
      }

      table.centered {
        margin: 10px auto;
      }

      table {
        border: 1px solid black;
      }

      table td {
        padding-right: 1em;
      }

      table th {
        text-align: left;
        background: #AAA;
        margin: 0.2em 1em;
      }

      dt {
        font-weight: bold;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      Rays
    </header>
    <div id="contents">
      <section>
        <h1>Definition</h1>
        <%= tex_image 'ray' %>
        <p>
          A <em>ray</em> consists of two components:
        </p>
        <ul>
          <li>an origin $O$ of type ``Point3D``;</li>
          <li>a direction $\vec\Delta$ of type ``Vector3D``.</li>
        </ul>
        <p>
          The ray is the entirety of points that lies on the line that goes through $O$ and has orientation $\vec\Delta$.
          All points on the ray are represented by the thin red line on the above figure.
        </p>
        <p>
          Mathematically, a ray is written as follows:
          \[
            O + \vec\Delta \cdot t
          \]
          where $t \in \mathbb{R}$.
        </p>
        <p>
          Each point on the ray has a unique $t$-value associated with it. $t$ represents the number of "steps" of size $\Delta$ one
          has to make starting at the origin $O$. For example,
        </p>
        <ul>
          <li>
            $t = 0$: take zero steps starting in the origin $O$. You obviously end up in $O$.
          </li>
          <li>
            $t = 1$: take one step away from $O$ in direction $\vec\Delta$.
          </li>
          <li>
            $t = 5$: take five steps away from $O$ in direction $\vec\Delta$.
          </li>
          <li>
            $t = -1$: take one step in the <em>opposite</em> direction of $\vec\Delta$.
          </li>
        </ul>
        <p>
          In the RayTracer, the ray's origin will often coincide with the eye.
          If $t &gt; 0$, the point is in front of the eye; if $t &lt; 0$, the point is behind the eye.
          Making this distinction is very important in ray tracing: you will only be interested
          in points in front of the eye.
        </p>
      </section>
    </div>
  </body>
  <script>
    function initialize()
    {
      SourceEditor.initialize();
    }

    $( initialize );   
  </script>
</html>
