<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: 3D Translation</title>
    <%= stylesheets('3dcg', 'box2') %>
    <%= scripts('jquery', 'underscore') %>
    <style>
      img.large {
        width: 60%;
      }

      table.centered {
        margin-left: auto;
        margin-right: auto;
      }

      table.tabular {
        border-collapse; collapse;
      }

      table.tabular tr:first-child {
        background: #AAA;
      }

      table.tabular th {
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
      }

      table.tabular td {
        text-align: center;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      3D Translation
    </header>
    <div id="contents">
      <section>
        <h1>Mathematics</h1>
        <p>
          Translating a point with <%= link 'reference/math/homogeneous-coordinates', 'homogeneous coordinates' %> $(x, y, z, w)$ by a vector $(\Delta x, \Delta y, \Delta z, 0)$
          can be computed using the following matrix multiplication:
          \[
            \begin{bmatrix}
              1 & 0 & 0 & \Delta x \\
              0 & 1 & 0 & \Delta y \\
              0 & 0 & 1 & \Delta z \\
              0 & 0 & 0 & 1 \\          
            \end{bmatrix}
            \cdot
            \begin{bmatrix}
              x \\
              y \\
              z \\
              w \\
            \end{bmatrix}
          \]
          Note that translation only has any effect on points ($w = 1$): vectors ($w = 0$) remain unaffected.
        </p>
      </section>
    </div>
  </body>
</html>
