<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Directional Lights</title>
    <%= stylesheets('3dcg', 'box2') %>
    <%= scripts('jquery', 'jquery-ui', 'underscore', 'ace/ace', 'source-editor') %>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      Directional Lights
    </header>
    <div id="contents">
      <section>
        <h1>Explanation</h1>
        <p>
          Directional light is the same as an omnidirectional point light, except that its position is infinitely far away.
          For example, the sun can be seen as directional light.
        </p>
        <p>
          Typical for directional lights is the fact that shadows are parallel. In the animation above,
          a directional light and an omnidirectional light are combined in the same scene. The shadows
          that are perfectly aligned to each other are cast by the directional light.
        </p>
        <table style="width: 80%; margin: 10px auto;">
          <tbody>
            <tr>
              <td><%= tex_image('point-light', style: 'width: 100%;') %></td>
              <td><%= tex_image('directional-light', style: 'width: 100%;') %></td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </body>
  <script>
    function initialize()
    {
      SourceEditor.initialize();
    }

    $( initialize );   
  </script>
</html>
