<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Dot Product</title>
    <%= stylesheets('ucll', 'box') %>
    <%= scripts('jquery', 'underscore', 'box') %>
    <style>
      img.large {
        width: 60%;
      }

      table.centered {
        margin-left: auto;
        margin-right: auto;
      }

      table.tabular {
        border-collapse; collapse;
      }

      table.tabular tr:first-child {
        background: #AAA;
      }

      table.tabular th {
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
      }

      table.tabular td {
        text-align: center;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      <div class="center-vertically">Dot Product</div>
    </header>
    <div id="contents">
      <section>
        <h1>Definition</h1>
        <p>
          The <a href="https://en.wikipedia.org/wiki/Dot_product">dot product</a> of two vectors yields a scalar, which is computed as follows:
          \[
            (x_1, y_1, z_1) \cdot (x_2, y_2, z_2) = x_1 x_2 + y_1 y_2 + z_1 z_2
          \]
        </p>
        <p>
          Without <em>meaning</em> this operator wouldn't have much use. So, what
          does this scalar represent? What can we use it for?
        </p>
        <p>
          To answer this question, you need two know of an alternative way or computing the dot product:
          \[
            \vec u \cdot \vec v = |\vec u| \cdot |\vec v| \cdot cos(\theta)
          \]
          In other words,
          the dot product equals the multiplication of the length of both vectors
          and the cosine of the angle between them.
        </p>
        <%= tex_image 'dot-product' %>
        <p>
          This alternative formula makes it possible to use the dot product to compute the length
          of vectors and the angle between them.
        </p>
        <section>
          <h2>Determining the Length</h2>
          <p>
            To determine the length of a vector $\vec{v}(x,y,z)$ we can multiplying $\vec v$ by itself.
            In this case the dot product yields $|\vec v| \cdot |\vec v| \cdot \cos(0^\circ)$. Because $\cos(0^\circ) = 1$,
            we ultimately get
            \[
              x^2 + y^2 + z^2 = |\vec v|^2
            \]
            Taking the square root yields the length of the vector.
          </p>
        </section>
        <section>
          <h2>Determining the Angle</h2>
          <p>
            Finding the angle between the vectors is a bit more complicated.
            We know
            \[ \vec u \cdot \vec v = |\vec u| \cdot |\vec v| \cdot cos(\theta) \]
            and we are interested in $\cos(\theta)$. We move the vector lengths to the left hand side of the equation.
            Computing the length of both vectors is a problem already solved, so we get
            \[
              \cos(\theta) = \frac{\vec u \cdot \vec v}{|\vec u| \cdot |\vec v|} = \frac{\vec u \cdot \vec v}{\sqrt{\vec u \cdot \vec u} \cdot \sqrt{\vec v \cdot \vec v}}
            \]
          </p>
          <p>
            So, now we have $\cos(\theta)$ from which it is possible to compute $\theta$. However, this extra stap will seldom be necessary:
            having $\cos(\theta)$ itself will often be exactly what we need in this course.
          </p>
          <p>
            Lastly, the dot product allows us to easily find out whether two vectors are perpendicular on each other.
            If they are, their dot product is 0. This is due to the fact that $\cos(90^\circ) = 0$.
          </p>
          \[
            \vec u \perp \vec v \qquad \Leftrightarrow \qquad \vec u \cdot \vec v = 0
          \]
        </section>
      </section>
    </div>
  </body>

  <script>
    function initialize()
    {
      Box.initialize();
    }

    $( initialize );    
  </script>
</html>
