<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Plane</title>
    <%= stylesheets('3dcg', 'box2') %>
    <%= scripts('jquery', 'jquery-ui', 'underscore', 'ace/ace', 'source-editor') %>
    <style>
      img.large {
        width: 60%;
      }

      table.centered {
        margin-left: auto;
        margin-right: auto;
      }

      table.tabular {
        border-collapse; collapse;
      }

      table.tabular tr:first-child {
        background: #AAA;
      }

      table.tabular th {
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
      }

      table.tabular td {
        text-align: center;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      Plane
    </header>
    <div id="contents">
      <section>
        <h1>Mathematics</h1>
        <%= raytrace 'demo' %>
        <%= source 'demo.chai' %>
        <section>
          <h2>Ray Intersection</h2>

          <section>
            <h3>Derivation</h3>
            <p>
              A plane can be uniquely defined in many ways:
            </p>
            <ul>
              <li>
                Three points that are not lying on the same line.
              </li>
              <li>
                One point and two non-parallel vectors.
              </li>
              <li>
                One point and one normal vector (i.e. a vector perpendicular on the plane).
              </li>
            </ul>
            <p>
              To solve the ray-plane intersection problem, using a point $P$ and normal vector $\vec n$ is the most practical approach.
            </p>
            <p>
              Some point $Q$ lies in the plane if the segment $PQ$ is perpendicular on $\vec n$. Determining perpendicularity is
              easy using the <%= link 'reference/math/dot-product', 'dot product' %>:
              \[
                Q \textrm{ lies in plane} \Leftrightarrow (Q-P) \cdot \vec n = 0
              \]
              We also need $Q$ to lie on the ray (having origin $O$ and direction $\vec\Delta$):
              \[
                Q \textrm{ lies on the ray} \Leftrightarrow \exists \; t \in \mathbb{R}. \; Q = O + \vec\Delta \cdot t
              \]
              Substituting $Q$ in the first equation yields
              \[
                (O + \vec\Delta \cdot t - P) \cdot \vec n = 0
              \]
              Solving for $t$
              \[
                \begin{array}{rl}
                  &amp; (O + \vec\Delta \cdot t - P) \cdot \vec n = 0 \\ \\
                  \Leftrightarrow &amp; (O - P) \cdot \vec n + \vec\Delta \cdot \vec n \cdot t = 0 \\ \\
                  \Leftrightarrow &amp; t = \displaystyle \frac{(P-O) \cdot \vec n}{\vec\Delta \cdot \vec n}
                \end{array}
              \]
            </p>

          </section>
          <section>
            <h3>Summary</h3>
            <p>
              Given
            </p>
            <ul>
              <li>
                a ray with origin $O$ and direction $\vec\Delta$;
              </li>
              <li>
                a plane through point $P$ and normal vector $\vec n$.
              </li>
            </ul>
            <p>
              To find the intersection between this ray and plane, perform the following calculations:
            </p>
            <ol>
              <li>
                Compute $d = \vec\Delta \cdot \vec n$.
              </li>
              <li>
                If $d = 0$, the ray runs parallel to the plane and hence there is no intersection.
              </li>
              <li>
                Compute
                \[
                  t = \frac{(P - O) \cdot \vec n}{d}
                \]
              </li>
              <li>
                The ray hits the plane at position
                \[
                  O + \vec\Delta \cdot t
                \]
              </li>
            </ol>
          </section>
        </section>
      </section>
    </div>
  </body>

  <script>
    function initialize()
    {
      SourceEditor.initialize();
    }

    $( initialize );   
  </script>
</html>
