<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Multijittered Sampler</title>
    <%= stylesheets('3dcg', 'box2', 'imgslider') %>
    <%= scripts('jquery', 'jquery-ui', 'underscore', 'ace/ace', 'source-editor', 'imgslider') %>
    <style>
      .centered {
        margin: 10px auto;
      }

      .slider {
        width: 80%;
        margin: 0px auto;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      Multijittered Sampler
    </header>
    <div id="contents">
      <section>
        <h1>Definition</h1>
        <p>
          A multijittering sampler takes a parameter $N$. It subdivides the given rectangle in $N \times N$ subrectangles.
          Each of these subrectangles is then subdivided once more into $N \times N$ subsubrectangles. In each of the $N \times N$ subrectangles,
          a different subsubrectangle is chosen. For example, the lower-left subsubrectangle is selected in exactly one subrectangle.
        </p>
        <%= tex_image 'multijittered1' %>
        <p>
          Shuffling this around gives:
        </p>
        <%= tex_image 'multijittered2' %>
      </section>
      <section>
        <h1>Comparison</h1>
        <section>
          <h2>n = 1</h2>
          <%= raytrace_comparison 'single', 'demo1' %>
        </section>
        <section>
          <h2>n = 2</h2>
          <%= raytrace_comparison 'single', 'demo2' %>
        </section>
        <section>
          <h2>n = 3</h2>
          <%= raytrace_comparison 'single', 'demo3' %>
        </section>
        <section>
          <h2>n = 4</h2>
          <%= raytrace_comparison 'single', 'demo4' %>
        </section>
      </section>
    </div>
  </body>

  <script>
    function initialize()
    {
      SourceEditor.initialize();
      $('.slider').slider( { showInstruction: false } );
    }

    $( initialize );   
  </script>
</html>
