<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Multijittered Sampler</title>
    <%= stylesheets('ucll', 'box') %>
    <%= scripts('jquery', 'jquery-ui', 'underscore', 'box', 'ace/ace', 'source-editor') %>
    <style>
      .centered {
        margin: 10px auto;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      <div class="center-vertically">Multijittered Sampler</div>
    </header>
    <div id="contents">
      <section>
        <h1>Definition</h1>
        <p>
          A multijittering sampler takes a parameter $N$. It subdivides the given rectangle in $N \times N$ subrectangles.
          Each of these subrectangles is then subdivided once more into $N \times N$ subsubrectangles. In each of the $N \times N$ subrectangles,
          a different subsubrectangle is chosen. For example, the lower-left subsubrectangle is selected in exactly one subrectangle.
        </p>
        <%= tex_image 'multijittered1' %>
        <p>
          Shuffling this around gives:
        </p>
        <%= tex_image 'multijittered2' %>
      </section>
      <section>
        <h1>Comparison</h1>
        <table class="centered">
          <tbody>
            <tr>
              <th>Single Sampler</th>
            </tr>
            <tr>
              <td>
                <%= raytrace('single', style:'width:90%;') %>
              </td>
            </tr>
            <tr>
              <th>Multi-Jittered Sampler, n = 1</th>
            </tr>
            <tr>
              <td>
                <%= raytrace('demo1', style:'width:90%;') %>
              </td>
            </tr>
            <tr>
              <th>Multi-Jittered Sampler, n = 2</th>
            </tr>
            <tr>
              <td>
                <%= raytrace('demo2', style:'width:90%;') %>
              </td>
            </tr>
            <tr>
              <th>Multi-Jittered Sampler, n = 3</th>
            </tr>
            <tr>
              <td>
                <%= raytrace('demo3', style:'width:90%;') %>
              </td>
            </tr>
            <tr>
              <th>Multi-Jittered Sampler, n = 4</th>
            </tr>
            <tr>
              <td>
                <%= raytrace('demo4', style:'width:90%;') %>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </body>

  <script>
    function initialize()
    {
      Box.initialize();
      SourceEditor.initialize();
    }

    $( initialize );   
  </script>
</html>
