<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Square XY</title>
    <%= stylesheets('3dcg', 'box2') %>
    <%= scripts('jquery', 'jquery-ui', 'underscore', 'ace/ace', 'source-editor') %>
    <style>
      img.large {
        width: 60%;
      }

      video {
        margin: 10px auto;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      Square XY
    </header>
    <div id="contents">
      <%= overview(mutually_exclusive_with: ['primitives/square-xz', 'primitives/square-yz'],
                   reading_material: ['design/primitives/ray-intersections']) %>
      
      <section>
        <h1>Preview</h1>
        <%= raytrace_movie 'demo' %>
        <%= source 'demo.chai' %>
      </section>

      <section>
        <h1>Implementation</h1>
        <p>
          For this extension you will need to implement this square:
        </p>
        <%= tex_image 'square' %>
        <aside class="boxed2">
          <h1>Task</h1>
          <p>
            Implement the following:
          </p>
          <ul>
            <li>
              Define a class ``SquareXYImplementation`` that subclasses ``PrimitiveImplementation``.
              It must model the square shown in the above figure. Use the plane primitive as a guide.
            </li>
            <li>
              Override ``find_all_hits``.
            </li>
            <li>
              Define a ``Primitive xy_square()`` factory function.
            </li>
            <li>
              Add a binding to the scripting language.
            </li>
          </ul>
        </aside>
      </section>
    </div>
  </body>

  <script>
    function initialize()
    {
      SourceEditor.initialize();
    }

    $( initialize );   
  </script>
</html>
