<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>3DCG: Random Sampler</title>
    <%= stylesheets('ucll', 'box', 'imgslider') %>
    <%= scripts('jquery', 'jquery-ui', 'underscore', 'box', 'ace/ace', 'source-editor', 'imgslider') %>
    <style>
      .centered {
        margin: 10px auto;
      }

      .slider {
        width: 80%;
        margin: 0px auto;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>

  <body>
    <header>
      <div class="center-vertically">Random Sampler</div>
    </header>
    <div id="contents">
      <section>
        <h1>Definition</h1>
        <p>
          A random sampler can be parameterized by the number of samples $N$.
          Give a rectangle, a $N$-random sampler will pick $N$ random
          points in this rectangle.
        </p>
      </section>
      <section>
        <h1>Comparison</h1>
        <section>
          <h2>n = 1</h2>
          <%= raytrace_comparison 'single', 'demo1' %>
        </section>
        <section>
          <h2>n = 2</h2>
          <%= raytrace_comparison 'single', 'demo2' %>
        </section>
        <section>
          <h2>n = 3</h2>
          <%= raytrace_comparison 'single', 'demo3' %>
        </section>
        <section>
          <h2>n = 4</h2>
          <%= raytrace_comparison 'single', 'demo4' %>
        </section>
      </section>
    </div>
  </body>

  <script>
    function initialize()
    {
      Box.initialize();
      SourceEditor.initialize();
      $('.slider').slider( { showInstruction: false } );
    }

    $( initialize );   
  </script>
</html>
